<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getlist()" class="el-icon-refresh"></i>
      <div class="left filter-container">
            <el-input placeholder="请输入党员姓名" v-model="query.key" class="ml10 filter-item" style="width: 200px;" size="small" clearable></el-input>
            <el-button type="primary" class="ml10 filter-item" size="small" @click="search">搜索</el-button>
      </div>
      <div class="right">
            <el-button type="primary" size="small" class="mr10" @click="uploading">导入</el-button>
            <el-button type="primary" size="small" class="mr10" @click="showDialog">添加党员</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
            <template  #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="name" label="党员姓名" width="100"></el-table-column>
            <el-table-column prop="sex" label="性别">
                <template #default="scope">
                    <span v-if="scope.row.sex!=undefined">{{scope.row.sex==0?'男':'女'}}</span>
                    <span v-else>--</span>
                </template>
            </el-table-column>
            <el-table-column prop="mobile" label="手机号" width="150"></el-table-column>
            <el-table-column prop="joinday" label="入党日期" width="150"></el-table-column>
            <el-table-column prop="org_name" label="所属组织"></el-table-column>
            <el-table-column prop="state_member" label="党员状态">
                <template #default="scope">
                    <span v-if="scope.row.state_member!=undefined">{{scope.row.state_member==1?'合格':'不合格'}}</span>
                    <span v-else>--</span>
                </template>
            </el-table-column>
            <el-table-column prop="state_user" label="账号锁定">
                <template #default="scope">
                    <span v-if="scope.row.state_user!=undefined">{{scope.row.state_user==1?'锁定':'不锁定'}}</span>
                    <span v-else>--</span>
                </template>
            </el-table-column>
            <el-table-column prop="intime" label="录入时间" width="180"></el-table-column>
            <el-table-column  label="操作" width="260">
                <template #default="scope">
                    <el-dropdown trigger="click">
                        <el-button type="primary" size="mini" @click="showDialog(scope.row.id,'edit')">
                            编辑
                        </el-button>
                        <el-button type="success" size="mini" @click="showRecordDialog(scope.row)">
                            添加流转
                        </el-button>
                        <el-popconfirm title="确定要删除该党员信息吗？" confirmButtonText='好的' cancelButtonText='不用了' @confirm="del(scope.row)">
                            <template #reference>
                                <el-button type="danger" size="mini">删除</el-button>
                            </template>
                        </el-popconfirm>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!--编辑党员-->
    <el-drawer
            :title="(drawertype==='edit'?'编辑':'添加')+'党员'"
            :size="'50%'"
            v-model="drawerFormVisible"
            :direction="'rtl'"
            :before-close="handleClose" destroy-on-close>
            <submitForm
                v-if="drawerFormVisible===true"
                ref="submitForm"
                :uploadHost="uploadHost"
                :form="formRenderis.memberForms"
                :rules="formRenderis.memberRules"
                :renderForms="formRenderis.memberRenderForms"
                @imgPreview="imgPreview"
                @cancel="closeDrawer"
                @confirm="confirm">
            </submitForm>
    </el-drawer>

    <!--流转记录-->
    <el-dialog  :title="recordDialog+'的流转记录'" v-model="dialogListVisible" width="70%" custom-class="dia-wraper" @close="closeDialog()">
        <div class="head">
            <div class="left filter-container">
                <el-button type="primary" size="mini" class="mr10" @click="showRecordDrawer">添加流转记录</el-button>
            </div>
        </div>
        <div class="table1" ref="myRef">
            <div class="table">
                <el-table :data="recordTableData" border style="width: 100%" class="tableBox" :height="parentHeight - 168">
                    <template  #empty>
                        <span style="color: #969799;">没有更多数据</span>
                    </template>
                    <el-table-column prop="id" label="ID" width="80"></el-table-column>
                    <!-- <el-table-column prop="c1" label="党员姓名" width="120"></el-table-column> -->
                    <el-table-column prop="source_org" label="流转前组织"></el-table-column>
                    <el-table-column prop="target_org" label="流转后组织"></el-table-column>
                    <el-table-column prop="flow_time" label="流转时间"></el-table-column>
                    <el-table-column prop="intime" label="录入时间"></el-table-column>
                    <el-table-column  label="操作" width="170">
                        <template #default="scope">
                            <!-- <el-button type="primary" size="mini" @click="showRecordDrawer(scope.row)">编辑</el-button> -->
                            <el-popconfirm title="确定要删除该党员的流转记录吗？" confirmButtonText='好的' cancelButtonText='不用了' @confirm="recorddel(scope.row.id)">
                                <template #reference><el-button type="primary" size="mini">删除</el-button></template>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination class="pagin" background layout="prev, pager, next" :total="recordTotal" :current-page="recordQuery.currentpage" @current-change="recordpagechange"></el-pagination>
            </div>
        </div>
    </el-dialog>

    <!--编辑流转记录-->
    <el-drawer
        :title="'添加'+recordDialog+'的流转记录'"
        :size="'50%'"
        v-model="recordDrawerFormVisible"
        :direction="'rtl'"
        :before-close="handleClose" destroy-on-close>
        <submitForm
            v-if="recordDrawerFormVisible===true"
            ref="submitForm"
            :uploadHost="uploadHost"
            :form="formRenderis.recordForms"
            :rules="formRenderis.recordRules"
            :renderForms="formRenderis.recordRenderForms"
            @imgPreview="imgPreview"
            @cascaderChange="cascaderChange"
            @inputchange="inputchange"
            @cancel="closeRecordDrawer"
            @confirm="confirmRecord">
        </submitForm>
    </el-drawer>

    <el-dialog title="导入用户" v-model="dialogFormVisible" width="40%" :before-close="handleClose">
        <el-form ref="form_" :model="d" label-width="50px">
            <el-form-item label="上传:">
                <el-upload class="upload-demo"
                    :action="host + '/upfile_xls'"
                    :before-upload="beforeUpload"
                    :on-success="(e)=>{uploadSuccess(e)}"
                    multiple
                    limit="1"
                    :file-list="fileList"
                    :before-remove="beforeRemove">
                    <el-button size="small" type="primary" v-if="btnShow">选择文件</el-button>
                    <div class="el-upload__tip" v-if="btnShow">只能上传xlsx或xls表格，且不超过20MB</div>
                </el-upload>
            </el-form-item>
        </el-form>
        <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="upArr('form_')" :disabled="fileUpArr.length===0">确 定</el-button>
        </span>
    </el-dialog>

    <!-- 预览 -->
    <el-dialog v-model="dialogVisible">
        <img class="dialogImg" :src="dialogImageUrl" alt="">
    </el-dialog>
</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import submitForm from '@/components/submitForm/index.vue'//编辑/新增表单组件
    import formRenderis from '@/utils/form_renderis'
    import { uploadHost,parseDate2Str,host,checkIdCard,phone} from '@/utils/utils'
    import { ElMessageBox } from 'element-plus'

    export default defineComponent({
        name: "member",
        components:{ submitForm },
        setup() {
            return reactive({
                drawertype: '',
                drawerFormVisible: false,
                dialogListVisible: false,
                recordDialog: '',
                recordDrawerFormVisible: false,
                formRenderis,
                uploadHost: uploadHost(),
                host: host(),
                dialogImageUrl: '',
                dialogVisible: false,
                query: {
                    key: "",
                    state_member: "",
                    state_user: "",
                    currentpage: '1',
                    pagesize: '10',
                },
                total: '1',
                tableData: [],
                recordQuery: {
                    member_id: "",
                    currentpage: '1',
                    pagesize: '10',
                },
                recordTotal: '1',
                recordTableData: [],
                source_org: '',
                target_org: '',
                dialogFormVisible: false,
                fileUpArr:[],
                state: false,
                fileList:[],
                btnShow: true,//上传按钮显示隐藏
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.getlist();
        },
        watch: {
            drawerFormVisible(e){
                if(e===false){
                    let o:any =  {
                        id:0,
                        name:"",
                        sex: "0",
                        idcard:"",
                        mobile:"",
                        joinday:"",
                        org_id:0,
                        leave:"1",
                        specialty:"",
                        state_member:"0",
                        state_user:"0",
                    };
                    this.formRenderis.memberForms = Object.assign({},o);
                    this.$forceUpdate();
                }
            },
            recordDrawerFormVisible(e){
                if(e===false){
                    let o:any =  {
                        member_id:"",
                        source_id:"",
                        source_org:"",
                        target_id:"",
                        target_org:"",
                        flow_time:""
                    };
                    this.formRenderis.recordForms = Object.assign({},o);
                    this.$forceUpdate();
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            // 上传
            uploading(){
                this.dialogFormVisible = true
            },
            beforeUpload(files: any){
                this.btnShow = false;
                let arr = files.name.split('.')
                let suffix = arr[arr.length - 1]
                let isJPG1 = false
                if (suffix == 'xlsx' || suffix == 'xls') {
                isJPG1 = true
                } else {
                isJPG1 = false
                }
                const isLt20M = (files.size / 1024 / 1024) < 20;
                if (!isJPG1) {
                    (this as any).$message.error('上传文件只能是 xlsx或xls表格!');
                }
                if (!isLt20M) {
                    (this as any).$message.error('上传文件大小不能超过 20MB!');
                }
                if(isJPG1 && isLt20M){
                // (this as any).$loading({title: '上传中...'});
                }
                let name = true;
                return isJPG1 && isLt20M && name;
            },
            uploadSuccess(e:any){
                let fileArr:any = [];
                if(e.success){
                    fileArr = e.msg.list
                    for(let i=0; i<fileArr.length;i++){
                        let item = fileArr[i]
                        let list = {
                            id:0,
                            org_id:0,
                            name:'',
                            sex: 0,
                            idcard:'',
                            mobile:'',
                            joinday:'',
                            leave:0,
                            specialty:'',
                            state_member:0,
                            state_user:0,
                        }
                        let keys:any = {'所属组织':'org_id','姓名':'name','身份证号':'idcard','手机号':'mobile','入党日期':'joinday','个人特长':'specialty'}
                        let leaves:any = {'普通党员': 1,'主任': 2,'委员': 3,'副书记': 4,'书记': 5,}
                        Object.keys(item).forEach((key) => {
                            switch(key){
                                case '所属组织':
                                case '姓名':
                                case '身份证号':
                                case '手机号':
                                case '入党日期':
                                case '个人特长':
                                    (list as any)[keys[key]] = item[key];
                                break;
                                case '性别':
                                    list.sex = item[key] === '女'?1:0;
                                break;
                                case '等级':
                                    list.leave = leaves[item[key]];
                                break;
                                case '党员状态':
                                    list.state_member = item[key] === '合格'?1:0;
                                break;
                                case '账号状态':
                                    list.state_user = item[key] === '锁定'?1:0;
                                break;
                                default:
                                break;
                            }
                        });
                        (this as any).fileUpArr.push(list);
                    }
                    console.log((this as any).fileUpArr);
                }
            },
            async upArr(){
                let noUploads:any = '';
                for(let i=0;i<this.fileUpArr.length; i++){
                    let data:any = this.fileUpArr[i];
                    await (this as any).axios.post('manager/member/design',data,{headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                        if (e.data.success) {
                            this.query = { key:'',currentpage:'1',state_member: "",state_user: "",pagesize:'10'};
                        }else{
                            noUploads += (data.name+':'+e.data.err+'; ');
                        }
                    }).catch(()=>{noUploads += (data.name+':'+'其他原因'+'; ');})
                }
                if(noUploads===''){
                    (this as any).$message.success('导入成功');
                }else{
                    ElMessageBox.alert(noUploads, '以下用户导入失败', {confirmButtonText: '知道了'});
                }
                this.dialogFormVisible = false;
                this.btnShow = true;
                this.fileList = [];
                this.fileUpArr = [];
                this.getlist('1');
            },
            beforeRemove(){
                this.btnShow = true;
                this.fileUpArr = [];
            },
            confirm(e:any) {
                let idcard = checkIdCard(e.form.idcard)
                let mobile = phone(e.form.mobile)
                // if(!idcard){
                //     (this as any).$message.error('请填写正确的身份证号')
                //     return
                // }
                if(!mobile){
                    (this as any).$message.error('请填写正确的手机号')
                    return
                }
                let data:any = JSON.parse(JSON.stringify(e.form));
                let joinday:any = parseDate2Str(e.form.joinday,"YYYY-MM-DD");
                data.joinday = joinday;
                let org_id:any = 0;
                if(e.form.org_id!==0&&e.form.org_id.length!==0){
                    org_id = e.form.org_id[e.form.org_id.length-1];
                }
                data.org_id = org_id;
                console.log(data);
                // return
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/design',data,{headers: {token: token}}).then((e: any) => {
                    if (e.data.success) {
                        this.closeDrawer();
                        let query:any = { key:'',currentpage:'1',state_member: "",state_user: "",pagesize:'10'};
                        this.query = query;
                        this.getlist();
                        (this as any).$message.success(this.drawertype==='edit'?'修改成功':'添加成功');
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                }).catch(()=>{(this as any).$message.error('添加失败');})
            },
            confirmRecord(e:any) {
                console.log(e.form);
                let data:any = JSON.parse(JSON.stringify(e.form));

                let flow_time:any = parseDate2Str(e.form.flow_time,"YYYY-MM-DD");
                data.flow_time = flow_time;

                let source_id:any = 0;
                let target_id:any = 0;
                if(e.form.source_id){
                    source_id = e.form.source_id[e.form.source_id.length-1];
                }
                if(e.form.target_id){
                    target_id = e.form.target_id[e.form.target_id.length-1];
                }
                data.source_id = source_id;
                data.target_id = target_id;
                data.member_id = this.recordQuery.member_id;
                data.source_org = !data.source_org?this.source_org:data.source_org;
                data.target_org = !data.target_org?this.target_org:data.target_org;
                console.log(data);
                // return
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/flow_add',data,{headers: {token: token}}).then((e: any) => {
                    if (e.data.success) {
                        this.closeRecordDrawer();
                        let recordQuery:any = { member_id:this.recordQuery.member_id, currentpage:'1', pagesize:'10'};
                        this.recordQuery = recordQuery;
                        this.getrecordlist('1');
                        (this as any).$message.success('添加成功');
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                }).catch(()=>{(this as any).$message.error('添加失败');})
            },
            // 获取党员流转记录列表
            getrecordlist(currentpage:string = ''){
                interface dataType {
                    member_id: string,currentpage:string,pagesize:string
                }
                let data: dataType = {
                    member_id: this.recordQuery.member_id,
                    currentpage: this.recordQuery.currentpage,
                    pagesize: this.recordQuery.pagesize
                };
                if(currentpage){
                    data.currentpage = '1'
                }
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/flow_list',data,{headers: {token: token}}).then((e: any) => {
                    console.log(e);
                    if(e.status === 200){
                        let d:any = e.data;
                        this.recordTableData = [];
                        this.recordTotal = '0';
                        if(d.success){
                            this.recordTotal = d.msg.count;
                            this.recordTableData  = d.msg.list;
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }
                }).catch(()=>{})
            },
            cascaderChange(e:any){
                if(e.key==="source_id"){
                    this.source_org = e.label;
                    this.formRenderis.recordForms.source_org = e.label;
                }else if(e.key==="target_id"){
                    this.target_org = e.label;
                    this.formRenderis.recordForms.target_org = e.label;
                }
            },
            inputchange(e:any){
                if(e.key==="source_org"){
                    this.formRenderis.recordForms.source_id = '';
                }else if(e.key==="target_org"){
                    this.formRenderis.recordForms.target_id = '';
                }
            },
            pagechange(val: any) {
                this.query.currentpage = val.toString();
                this.getlist()
            },
            recordpagechange(val: any){
                this.recordQuery.currentpage = val.toString();
                this.getrecordlist()
            },
            search(){
                this.query.currentpage = '1';
                this.getlist('1');
            },
            // 获取党员列表
            getlist(currentpage:string = ''){
                interface dataType {
                    key: string,currentpage:string,state_member:any,state_user:any,pagesize:string
                }
                let data: dataType = {
                    key: this.query.key,
                    state_member: this.query.state_member,
                    state_user: this.query.state_user,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if(currentpage){
                    data.currentpage = '1'
                }
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/list',data,{headers: {token: token}}).then((e: any) => {
                    console.log(e);
                    if(e.status === 200){
                        let d:any = e.data;
                        this.tableData = [];
                        this.total = '0';
                        if(d.success){
                            this.total = d.msg.count;
                            this.tableData  = d.msg.list;
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }
                }).catch(()=>{})
            },
            splitStr(str:string,size:any=2){
                if (str.length < size) {
                    var rs = [];
                    rs[0] = str;
                    return rs
                } else {
                    let count = Math.ceil(str.length / size)
                    let rs = []
                    for (let i = 0; i <= count; i++) {
                        if (i === 0) {
                            rs.push(str.substring(i, size))
                        } else if (i > 0 && i < count) {
                            rs.push(str.substring((i * size), (i + 1) * size))
                        }
                    }
                    return rs;
                }
            },
            showDialog(id:any=undefined,drawertype:any){
                this.formRenderis.memberRenderForms[5].show = true;
                let memberId:any = id;
                this.drawertype = drawertype;
                let token:any = (this as any).$store.state.token;
                if(drawertype==='edit'){
                    this.formRenderis.memberRenderForms[5].show = false;
                    (this as any).axios.post("manager/member/get",{id:memberId},{headers: {token: token}}).then((e:any)=>{
                        console.log(e);
                        if (e.status == 200) {
                            if (e.data.success) {
                                const o:any = Object.assign({},e.data.msg);
                                let org_id:any = o.org_id;
                                if(org_id){
                                    org_id = org_id.length%2==0?org_id:'0'+org_id;
                                }
                                o.org_id = org_id;
                                // 动态加载回显 0201转为['02','0201']
                                let a:any = this.splitStr(org_id,2);
                                let arr:any = [];
                                let n:any = a.length;
                                for (let i = 0; i < n; i++) {
                                    let str:any = '';
                                    for (let j = 0; j <= i; j++) {
                                        str+=a[j];
                                    }
                                    arr.push(str);
                                }
                                o.org_id = arr;

                                this.formRenderis.memberForms = o;
                                console.log(this.formRenderis.memberForms);
                                (this as any).drawerFormVisible = true;
                            } else {
                                (this as any).$message.error(e.data.err);
                            }
                        } else {
                            (this as any).$message.error('失败');
                        }
                    })
                }else{(this as any).drawerFormVisible = true;}
            },
            showRecordDialog(row:any){
                this.recordDialog = row.name;
                this.recordQuery.member_id = row.id;
                this.getrecordlist();
                (this as any).dialogListVisible = true;
            },
            showRecordDrawer(){
                (this as any).recordDrawerFormVisible = true;
            },
            handleClose(done:any) {
                this.closeDrawer();
                done();
            },
            closeDrawer(){
                (this as any).drawerFormVisible = false;
            },
            closeRecordDrawer(){
                (this as any).recordDrawerFormVisible = false;
            },
            closeDialog(){
                (this as any).dialogListVisible = false;
            },
            // 预览
            imgPreview(file: any) {
                (this as any).dialogImageUrl = file.url;
                (this as any).dialogVisible = true;
            },
            recorddel(id:any){
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/flow_delete',{id:id},{headers: {token: token}}).then((e: any) => {
                    if (e.data.success) {
                        this.closeRecordDrawer();
                        let recordQuery:any = { member_id:this.recordQuery.member_id, currentpage:'1', pagesize:'10'};
                        this.recordQuery = recordQuery;
                        this.getrecordlist('1');
                        (this as any).$message.success('删除成功');
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                }).catch(()=>{(this as any).$message.error('删除失败');})
            },
            // 删除
            del(row:any){
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/member/delete',{id: row.id},{headers:{token: token}}).then((e:any) =>{
                    if(e.data.success){
                        (this as any).$message.success('删除成功');
                        this.getlist();
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
</style>