<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <!-- <el-select v-model="query.state" placeholder="用户状态" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in states" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button> -->
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDialog()">添加组织</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table" default-expand-all>
            <el-table-column type="expand">
                <template #default="props">
                    <el-table :data="props.row.children" border style="width: 100%" class="tableBox" :height="auto">
                        <el-table-column prop="id" label="ID"></el-table-column>
                        <el-table-column prop="name" label="二级组织"></el-table-column>
                        <el-table-column label="编辑" width="300">
                            <template #default="scope">
                                <el-button size="mini" :type="scope.row.state=='1'?'danger':'success'" @click="setState(scope.row)">{{scope.row.state=='1'?'停用':'启用'}}</el-button>
                                <el-button size="mini" @click="showDialog(scope.row)">编辑</el-button>
                                <!-- <el-popconfirm
                                        confirmButtonText='好的'
                                        cancelButtonText='不用了'
                                        @confirm="del(scope.$index, scope.row)"
                                        icon="el-icon-info"
                                        iconColor="red"
                                        title="这是一段内容确定删除吗？">
                                    <template #reference>
                                        <el-button size="mini" type="danger">删除</el-button>
                                    </template>
                                </el-popconfirm> -->
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="id" label="ID"></el-table-column>
            <el-table-column prop="name" label="一级组织"></el-table-column>
            <!-- <el-table-column prop="leader" label="领导" width="120"></el-table-column> -->
            <el-table-column label="编辑" width="170">
                <template #default="scope">
                    <el-button size="mini" @click="showDialog(scope.row)">编辑</el-button>
                    <!-- <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="del(scope.$index, scope.row)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="这是一段内容确定删除吗？">
                        <template #reference>
                            <el-button size="mini" type="danger">删除</el-button>
                        </template>
                    </el-popconfirm> -->
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination> -->

  <!-- 组织名称 -->
  <el-drawer :title="d.id?'编辑':'添加'+'组织'" :size="'40%'" v-model="dialogFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
    <div class="edit" v-if="dialogFormVisible">
      <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;">
        <el-form-item :rules="[ { required: true, message: '组织名称不能为空'} ]" label="组织名称" prop="name">
          <el-input autocomplete="off" clearable v-model="d.name"></el-input>
        </el-form-item>
        <el-form-item label="上级组织" prop="superior" v-if="!editParent">
            <el-select v-model="d.superior" placeholder="请选择" clearable>
                <el-option v-for="item in tableData" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="closeDialog()">取 消</el-button>
                <el-button type="primary" @click="submitForm('from')">确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
    </div>
  </el-drawer>

</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "place",
        setup() {
            return reactive({
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogFormVisible:false,
              editParent: false,
              id:'',
              d: {
                "id":"",
                "superior":"",
                "name":"",
                "users": ""
              },
              query:{
                "key":"",
                "state":"1",
                "currentpage":"1",
                "pagesize":"1000"
              },
              total: 0,
              tableData:[],
              states: [
                {id: '0', title: '停用'},
                {id: '1', title: '正常'},
              ],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.getData();
        },
        watch: {
            dialogFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        "id":"",
                        "superior":"",
                        "name":"",
                        "users": ""
                    }
                    this.d = Object.assign({}, d);
                    this.editParent = false;
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            getData() {
                let data: any = Object.assign({},this.query);
                (this as any).axios.post('manager/organization/list', data, { headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let List_1:any = d.msg.list;
                            data.state = '0';
                            (this as any).axios.post('manager/organization/list', data, { headers: {token: (this as any).$store.state.token}}).then((ev: any) => {
                                if (ev.status === 200) {
                                    let D: any = ev.data;
                                    if (D.success) {
                                        let list:any = List_1.concat(JSON.parse(JSON.stringify(D.msg.list)));
                                        let arr1:any = [];
                                        let arr2:any = [];
                                        list.map((e:any)=>{
                                            e.children = [],
                                            e.id.length===2?arr1.push(e):arr2.push(e);
                                        });
                                        arr2.map((e:any)=>{
                                            let v:any = e.id.substring(0,2);
                                            arr1.map((ev:any)=>{
                                                if(ev.id===v){
                                                    let o:any = {
                                                        id: e.id,
                                                        name:e.name,
                                                        state:e.state
                                                    }
                                                    ev.children.push(o);
                                                }
                                            });
                                        });
                                        this.tableData = JSON.parse(JSON.stringify(arr1));
                                        console.log(this.tableData );
                                        
                                    } else {
                                        (this as any).$message.error(ev.data.err);
                                        (this as any).$store.dispatch('loginOut', '').then(() => {
                                            (this as any).$router.replace("/")
                                        })
                                    }
                                }
                            })
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

            showDialog(row: any) {
                console.log(row);
                if(row){
                    this.editParent = !!row.id;
                    this.d.id = row.id
                    this.d.superior = row.id.length===2?'':row.id.substring(0,2);
                    this.d.name = row.name
                }
                this.dialogFormVisible = true;
            },

            handleClose(done: any) {
                this.closeDialog();
                done();
            },

            closeDialog() {
                this.dialogFormVisible = false;
            },

            submitForm(formName: string) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = Object.assign({}, this.d);
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/organization/design', data, {headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.closeDialog();
                                    (this as any).$message.success('成功');
                                    this.getData();
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        });
                    }
                })
            },
            
            // 更改状态
            setState(row: any) {
                (this as any).axios.post("manager/organization/setstate", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        }else{
                            (this as any).$message.error(e.data.err);
                        }
                    }else{
                        (this as any).$message.error('请求失败');
                    }
                })
            },
            

        }
    })
</script>

<style lang="scss" scoped>
    .main-component-box{padding-bottom: 10px;box-sizing: border-box;}
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>