<template>
  <div class="pages-box flex-column">
    <!-- 我的模板 -->
    <div style="flex:1;">
      <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
        <el-table-column prop="intime" label="上传日期" width="180"></el-table-column>
        <el-table-column prop="readname" label="模板名称">
          <template #default="scope">
            <div v-for="(v,i) in scope.row.fileNameArr" :key="i">{{v||''}}</div>
          </template>
        </el-table-column>
        <el-table-column label='操作'
          width="240">
          <template #default="scope">
              <el-button type="primary"
                size="mini"
                @click="showDialog(scope.row,'edit')">编辑</el-button>
            <el-dropdown  @command="download">
              <el-button type="primary"
                size="mini" style="margin: 0 10px;">下载<i class="el-icon-arrow-down el-icon--right"></i></el-button>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item v-for="(item,index) in scope.row.fileNameArr"
                    :key='index' :command="scope.row.fileListArr[index]">{{item}}</el-dropdown-item>
                </el-dropdown-menu>
              </template>
            </el-dropdown>
              <el-popconfirm title="确定要删除该通知公告吗？"
                confirmButtonText='好的'
                cancelButtonText='不用了'
                @confirm="del(scope.row)">
                <template #reference>
                  <el-button type="primary"
                    size="mini">删除</el-button>
                </template>
              </el-popconfirm>
          </template>
        </el-table-column>
      </el-table> 
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" :current-page="query.currentpage" @current-change="pagechange"></el-pagination>
   

    <el-dialog
      title="上传模板"
      v-model="dialogFormVisible"
      width="40%"
      :before-close="handleClose">
          <el-form ref="form_"
            :model="d"
            label-width="50px">
            <el-form-item label="上传">
              <el-upload class="upload-demo"
                :action="uploadHost"
                :before-upload="beforeUpload"
                :on-success="(e)=>{uploadSuccess(e)}"
                multiple
                :limit="9"
                :file-list="fileList"
                :before-remove="beforeRemove">
                <el-button size="small"
                  type="primary">点击上传</el-button>
                <div class="el-upload__tip">只能上传word/excl文件，且不超过5MB
                </div>
              </el-upload>
            </el-form-item>
          </el-form>
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('form_')">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref} from "vue";
import {uploadHost,filedownload} from '@/utils/utils';
import { mapState } from "vuex";
export default defineComponent({
  setup() {
    return reactive({
      uploadHost:uploadHost(),
      filedownload:filedownload(),
      query: {
        key: "", // 名称编号
        type: 2,
        currentpage: 1,
        pagesize: 10,
      },
      total: 0,
      loadings: false,
      tableData: [
      ],

      editData: [
        { value: "1", label: "编辑" },
        { value: "2", label: "删除" },
        { value: "3", label: "下载" },
      ],

      dialogType: "edit", //编辑或添加
      dialogFormVisible: false, //抽屉显示隐藏
      d: {
        id: "0",
        readname:'',
        filename: "", // 名称
        filename_old:"",//旧文件名
      },
      id: "",
      fileList: [],
      filenameArr:[],
      fileReadnameArr:[],
      index:-1
    });
  },
  data() {
    return {};
  },
  created(){
    (this as any).getData(this.query.key)
  },
  computed: {
    ...mapState({
      parentHeight: (state: any) => state.parentHeight,
    }),
  },

  methods: {
    getData(key: any) {
      if (key) {
        this.query.key = key;
      } else {
        this.query.key = "";
      }
      let url = '';
      let data = this.query
      console.log(data)
        url = 'manager/files/list';
        let token = (this as any).$store.state.token;
        (this as any).axios.post(url,data,{headers:{token: token}}).then((e:any) =>{
            console.log('获取数据')
            console.log(e)
              if(e.data.success){
              let list = e.data.msg.list
              for(let i=0; i<list.length; i++){
                list[i].fileListArr = list[i].filename.split(",")
                list[i].fileNameArr = list[i].readname.split(",")
              }
              this.tableData = list;
              console.log(this.tableData);
              
              this.total = Number(e.data.msg.count)
            }
        })
    },
    pagechange(val: any) {
        console.log(val);
        this.query.currentpage = val;
        this.getData(this.query.key);
    },

    // 关闭抽屉
    handleClose(done: any) {
      this.closeDialog();
      done();
      return
      (this as any)
        .$confirm("确认关闭？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
        })
        .catch(() => {});
    },
    // 下载
    download(name:any){
      let url = this.filedownload + name
      console.log(url)
      window.open(url)
    },
    // 编辑
    showDialog(row: any = undefined, dialogType: string) {
      console.log(row);
        (this.dialogFormVisible = true);
      this.dialogType = dialogType;
      if (dialogType === "edit") {
        this.filenameArr = row.filename.split(",")
        this.fileReadnameArr = row.readname.split(",")
        this.fileList = []
        for(let i=0; i<row.fileListArr.length;i++){
          let obj = {
            name:'',
            url:''
          }
          obj.name = row.fileNameArr[i];
          obj.url = this.filedownload + row.fileListArr[i];
          (this as any).fileList.push(obj);
          // this.getFileList(obj)
        }
        this.d = row;
        this.d.filename_old = this.d.filename
      }else{
        this.fileList= [],
        this.filenameArr=[],
        this.fileReadnameArr=[],
        this.dialogType = '';
        this.d = {
          id: "0",
          readname:'',
          filename: "", // 名称
          filename_old:"",//旧文件名
        }
      }
    },
    getFileList(file:any){
          (this as any).fileList.push(file)
    },
    // 完成
    submitForm(formName: string) {
      // this.d.merchant_id = Number(this.d.merchant_id);
      // return;
      console.log(this.filenameArr)
      console.log(this.fileReadnameArr)
      if(!this.filenameArr.length){
        (this as any).$message.error('上传的文件不能为空')
        return
      }
      this.d.readname = this.fileReadnameArr.join(',');
      (this as any).d.filename = (this as any).filenameArr.join(',');
      // this.d.filename_old = this.d.filename
      if (this.id) {
        // 编辑
        (this as any).d.id = Number((this as any).id);
      }
        console.log(this.d);
      (this as any).$refs[formName].validate((valid: any) => {
        if (valid) {
          let data: any = Object.assign({}, this.d);
          console.log(data);
          (this as any).axios.post("manager/files/design ", data, {
              headers: { token: (this as any).$store.state.token },
            })
            .then((t: any) => {
              console.log(t)
              if (t.status == 200) {
                if (t.data.success) {
                  this.closeDialog();
                  (this as any).$message.success("成功");
                  this.getData(this.query.key);
                } else {
                  (this as any).$message.error(t.data.err);
                }
              } else {
                (this as any).$message.error("请求失败");
              }
            });
        }
      });
    },
    del(row: any = undefined) {
      (this as any).axios.post("manager/files/delete", {id: row.id}, {
          headers: { token: (this as any).$store.state.token },
        })
        .then((t: any) => {
          console.log(t)
          if (t.data.success) {
            this.closeDialog();
            (this as any).$message.success("成功");
            this.getData(this.query.key);
          } else {
            (this as any).$message.error(t.data.err);
          }
        })
    },
    closeDialog() {
      this.dialogFormVisible = false;
      let d: any = {
        id: "",
      };
      this.d = Object.assign({}, d);
    },
    composeValue(item: any, row: any) {
      return {
        button: item,
        row: row,
      };
    },
    beforeUpload(files: any){
      console.log(files)
      // this.d.readname = files.name
      let arr = files.name.split('.')
      let suffix = arr[arr.length - 1]
      let isJPG1 = false
        if (suffix == 'dox' || suffix == 'docx' || suffix == 'xlsx' || suffix == 'xls' || suffix == 'csv') {
          isJPG1 = true
        } else {
          isJPG1 = false
        }
        // const isJPG1 = files.type === 'image/jpeg' || files.type === 'image/png';
        
        
        const isLt20M = (files.size / 1024 / 1024) < 20;
        if (!isJPG1) {
            (this as any).$message.error('上传文件只能是 word文档或表格!');
        }
        if (!isLt20M) {
            (this as any).$message.error('上传文件大小不能超过 20MB!');
        }
        if(isJPG1 && isLt20M){
          // (this as any).$loading({title: '上传中...'});
        }
        let name = true;
        if(isJPG1 && isLt20M){
          // 判断文件是不是重复
          if((this as any).fileReadnameArr.indexOf(files.name)){
            // 不存在
            (this as any).fileReadnameArr.push(files.name);
          }else{
            name = false;
            (this as any).$message.error('文件已存在');
          }
        }
        return isJPG1 && isLt20M && name;
    },
    uploadSuccess(e:any){
      (this as any).filenameArr.push(e.filename)
    },
    beforeRemove(file:any){
      (this as any).index = (this as any).fileReadnameArr.indexOf(file.name);
      if(this.index > -1){
        this.filenameArr.splice(this.index,1)
        this.fileReadnameArr.splice(this.index,1)
      }
    }
  },
});
</script>
<style lang='scss' scoped>
.pages-box{position: relative;flex: 1;display: flex;flex-direction: column;}
</style>