<template>
  <div class="pages-box flex-column">
    <!-- 我的模板 -->
    <div style="flex:1;">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
          <el-table-column prop="intime"
            label="上传日期"
            width="180">
          </el-table-column>
          <el-table-column prop="member_name"
            label="上传人" width="140">
          </el-table-column>
          <el-table-column prop="readname" label="文档名称">
            <template #default="scope">
              <div v-for="(v,i) in scope.row.fileNameArr" :key="i">{{v||''}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="share"
            label="是否共享" width="100">
            <template #default="scope">
              <span>{{scope.row.share === '1'?'是':'否'}}</span>
            </template>
          </el-table-column>
          <el-table-column label='操作'
            width="180">
            <template #default="scope">
              <el-dropdown @command="download">
                
                <el-button type="primary" size="mini" style="marginRight: 10px;">
                  下载<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>

                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item v-for="(item,index) in scope.row.fileNameArr"
                      :key='index' :command="scope.row.fileListArr[index]">{{item}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
              <el-popconfirm title="确定要删除该通知公告吗？"
                confirmButtonText='好的'
                cancelButtonText='不用了'
                @confirm="del(scope.row)">
                <template #reference>
                  <el-button type="primary"
                    size="mini">删除</el-button>
                </template>
              </el-popconfirm>
            </template>
          </el-table-column>
        </el-table>
    </div>
      <el-pagination class="pagin"
        background
        layout="prev, pager, next"
        :total="total"
        :current-page="query.currentpage"
        @current-change="pagechange">
      </el-pagination>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { uploadHost, filedownload } from "@/utils/utils";
import { mapState } from "vuex";
export default defineComponent({
  setup() {
    return reactive({
      uploadHost: uploadHost(),
      filedownload: filedownload(),
      query: {
        key: "", // 名称编号
        type: 1,
        currentpage: 1,
        pagesize: 10,
      },
      loadings: false,
      tableData: [],
      total: 0,
      dialogType: "edit", //编辑或添加
      dialogFormVisible: false, //抽屉显示隐藏
      d: {
        id: "0",
        readname: "",
        filename: "", // 名称
        filename_old: "", //旧文件名
        share: false, //是否共享
      },
      id: "",
      fileList: [],
      fileName: [],
    });
  },
  data() {
    return {};
  },
  created() {
    this.getData(this.query.key);
  },
  computed: {
    ...mapState({
      parentHeight: (state: any) => state.parentHeight,
    }),
  },

  methods: {
    getData(key: any) {
      console.log(key);
      if (key) {
        this.query.key = key;
      } else {
        this.query.key = "";
      }
      let url = "";
      let data = this.query;
      url = "manager/files/list";
      let token = (this as any).$store.state.token;
      (this as any).axios
        .post(url, data, { headers: { token: token } })
        .then((e: any) => {
          console.log("获取数据");
          console.log(e);
          if (e.data.success) {
            let list = e.data.msg.list
            for(let i=0; i<list.length; i++){
              list[i].fileListArr = list[i].filename.split(",")
              list[i].fileNameArr = list[i].readname.split(",")
            }
            this.tableData = list;
            this.total = Number(e.data.msg.count);
          }
        });
    },
    pagechange(val: any) {
        console.log(val);
        this.query.currentpage = val;
        this.getData(this.query.key);
    },
    // 完成
    submitForm(formName: string) {
      // this.d.merchant_id = Number(this.d.merchant_id);
      // return;
      if (this.id) {
        // 编辑
        (this as any).d.id = Number((this as any).id);
      }
      (this as any).$refs[formName].validate((valid: any) => {
        if (valid) {
          let data: any = Object.assign({}, this.d);
          console.log(data);
          (this as any).axios
            .post("manager/files/design ", data, {
              headers: { token: (this as any).$store.state.token },
            })
            .then((t: any) => {
              console.log(t);
              if (t.status == 200) {
                if (t.data.success) {
                  this.closeDialog();
                  (this as any).$message.success("成功");
                  this.getData(this.query.key);
                } else {
                  (this as any).$message.error(t.data.err);
                }
              } else {
                (this as any).$message.error("请求失败");
              }
            });
        }
      });
    },
    del(_row: any = undefined) {},
    closeDialog() {
      this.dialogFormVisible = false;
      let d: any = {
        id: "",
      };
      this.d = Object.assign({}, d);
    },
    handlePreview() {},
    handleRemove() {},
    beforeUpload(files: any) {
      console.log(files);
      this.d.readname = files.name;
      let arr = files.name.split(".");
      let suffix = arr[arr.length - 1];
      let isJPG1 = false;
      if (
        suffix == "dox" ||
        suffix == "docx" ||
        suffix == "xlsx" ||
        suffix == "xls" ||
        suffix == "csv"
      ) {
        isJPG1 = true;
      } else {
        isJPG1 = false;
      }
      // const isJPG1 = files.type === 'image/jpeg' || files.type === 'image/png';

      const isLt20M = files.size / 1024 / 1024 < 20;
      if (!isJPG1) {
        (this as any).$message.error("上传文件只能是 word文档或表格!");
      }
      if (!isLt20M) {
        (this as any).$message.error("上传文件大小不能超过 20MB!");
      }
      if (isJPG1 && isLt20M) {
        // (this as any).$loading({title: '上传中...'});
      }
      return isJPG1 && isLt20M;
    },
    uploadSuccess(e: any) {
      console.log(e);
      this.d.filename = e.filename;
    },
    handleExceed() {},
    download(name: any) {
      console.log(name)
      let url = this.filedownload + name;
      window.open(url);
    },
  },
});
</script>
<style lang='scss' scoped>
.pages-box{position: relative;flex: 1;display: flex;flex-direction: column;}
</style>