<template>
    <div class="main-component-box">
        <Tinymce @update:value="valChange" :value="memo"/>
        <el-button type="primary" class="filter-item mt10" size="small"  @click="btn">提交</el-button>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import Tinymce from "@/components/Tinymce/index.vue";

    export default defineComponent({
        name: "aboutus",
        components:{Tinymce},
        setup() {
            return reactive({
                memo:''
            })
        },
        data() {
            return {
            }
        },
        watch: {
        },
        mounted() {
            this.getData();
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            getData(){
                let token = (this as any).$store.state.token;
                (this as any).axios.post("manager/aboutus",{},{headers:{token:token}}).then((e: any) => {
                    if(e.data.success){
                        this.memo = e.data.msg.memo;
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                })
            },
            btn(){
                let token = (this as any).$store.state.token;
                let that = this;
                (this as any).axios.post("manager/aboutus/design",{memo:that.memo},{ headers: { token: token } }).then((e: any) => {
                    if(e.data.success){
                        (this as any).$message.success('成功');
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                })
            },
        }
    })
</script>

<style lang="scss" scoped>
    .main-component-box{padding: 10px;box-sizing: border-box;}
    .btn{}
</style>