<template>
    <div>
        <div class="pt10">
            <el-tabs v-model="type" @tab-click="handleClick">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="mainBox" ref="myRef">
            <!--管理员管理-->
            <manageruser v-if="component =='manageruser'"/>
            <!--启动图-->
            <startimage v-if="component =='startimage'"/>
            <!--关于我们-->
            <aboutus v-if="component =='aboutus'"/>
            <!--建议反馈-->
            <proposal v-if="component =='proposal'"/>
            <!--轮播图-->
            <banner v-if="component =='banner'"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive, ref} from 'vue';
    import {mapState} from "vuex";
    import manageruser from "./manageruser.vue";
    import startimage from "./startimage.vue";
    import aboutus from "./aboutus.vue";
    import proposal from "./proposal.vue";
    import banner from "./banner.vue";

    export default defineComponent({
        name: "systemmanage",
        components: {
            manageruser,
            startimage,
            aboutus,
            proposal,
            banner,
        },
        setup() {
            const myRef = ref(null);
            return reactive({
                myRef,
                type: '0',
                component: 'manageruser',
                menuInfo: [],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        watch: {
            $route() {
                (this as any).type = (this as any).$route.query.type;
                (this as any).component = (this as any).$route.query.component;
            },
            component() {
              // 切换tab 高度 重新设置
                (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight);
            }
        },
        methods: {
            handleClick(tab: any) {
                this.$router.push({
                    query: {
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component'],
                        routesIndex: (this as any).$route.query.routesIndex
                    }
                });
            },
        }
    })
</script>

<style lang="scss" scoped>
</style>
