<template>
    <div class="main-component-box">
        <!-- 管理员管理检索部分 -->
        <div class="head">
            <div class="left filter-container">
                <el-input placeholder="匹配登录名/姓名" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
                <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
                <el-button type="primary" size="small" class="add" @click="showDialog()">添加管理员</el-button>
            </div>
        </div>
        <!--管理员管理-->
        <div class="tableBox">
            <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="uname" label="登录名"></el-table-column>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="last_login_time" label="最后登录时间"></el-table-column>
                <el-table-column label="编辑" width="170">
                    <template #default="scope">
                        <el-button size="mini" @click="showDialog(scope.row)">编辑</el-button>
                        <el-popconfirm
                                v-if="scope.row.id!='4'"
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="del(scope.$index, scope.row)"
                                icon="el-icon-info"
                                iconColor="red"
                                title="这是一段内容确定删除吗？"
                        >
                            <template #reference>
                                <el-button size="mini" type="danger">删除</el-button>
                            </template>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <!--编辑用户-->
        <el-drawer
                :title="id?'编辑':'添加'+'用户'"
                :size="'40%'"
                v-model="dialogFormVisible"
                :direction="'rtl'"
                :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="dialogFormVisible">
                <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;" size="small">
                    <el-form-item label="登录名" prop="uname" :rules="[ { required: true, message: '登录名不能为空'} ]">
                        <el-input v-model="d.uname" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" prop="name" :rules="[ { required: true, message: '姓名不能为空'} ]" size="small">
                        <el-input v-model="d.name" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass" :rules="[ { required: !id, message: '密码不能为空'} ]" size="small">
                        <el-input v-model="d.pass" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="权限" class="checkboxgroup">
                        <div v-for="(a,a_index) in d.authority" :key="a_index" class="authorityItem">
                            <el-checkbox :indeterminate="a.isIndeterminate" v-model="a.checkAll"
                                         @change="selectAllChange($event, a_index)">{{a.label}}
                            </el-checkbox>
                            <el-checkbox-group class="authorityGroup" v-model="a.dvalue"
                                               @change="selectChange($event, a_index)">
                                <el-checkbox v-for="(b,b_index) in a.sub" :key="b_index" :label="b">{{b.label}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                            <el-button @click="closeDialog()">取 消</el-button>
                            <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </el-drawer>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";

    export default defineComponent({
        name: "manageruser",
        setup() {
            return reactive({
                query: {
                    key: '',
                    currentpage: '1',
                    pagesize: '1000'
                },
                tableData: [],
                dialogFormVisible: false,
                id: "",
                d: {
                    uname: "",
                    name: "",
                    pass: "",
                    authority: [],
                },
                defaultAuthority: [],
            })
        },
        data() {
            return {
            }
        },
        watch: {
            dialogFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        uname: "",
                        name: "",
                        pass: "",
                        authority: this.defaultAuthority
                    }
                    this.d = Object.assign({}, d);
                    this.$forceUpdate();
                }
            }
        },
        mounted() {
            this.getData();
            // 处理权限 //这个不能直接用，还要处理过，权限是分开的
            let d: any = (this as any).$store.state.allPowerMenu, arr: any = [];
            d.map((e: any) => {
                let sub: any = [];
                e.sub.forEach((t: any) => {
                    sub.push({
                        label: t.label,
                        component: t.component,
                        show: t.show
                        //url:t.component+"/list",
                    });
                    t.sub.forEach((x: any) => {
                        sub.push({
                            label: x.label,
                            component: x.component,
                            show: t.show,
                            //url:t.component+"/"+x.component,
                            parent: t.component
                        })
                    })
                });
                let obj: any = {
                    label: e.label,
                    sub: sub,
                    checkAll: false,
                    isIndeterminate: false,
                    dvalue: []
                };
                arr.push(obj)
            });
            
            (this as any).d.authority = arr;
            (this as any).defaultAuthority = JSON.parse(JSON.stringify(arr));
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            handleClose(done: any) {
                (this as any).$confirm('确认关闭？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.closeDialog();
                    done();
                }).catch(() => {
                });
            },
            // 获取管理员
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    currentpage: string,
                    pagesize: string
                }

                let data: dataType = {
                    key: this.query.key,  // 如果code的类型错误 则编译失败
                    currentpage: this.query.currentpage,  // 如果code的类型错误 则编译失败
                    pagesize: this.query.pagesize  // 如果code的类型错误 则编译失败
                };
                if (currentpage) {
                    data.currentpage = '1'
                }
                (this as any).axios.post('manager/manageruser/list', data, {
                    headers: {
                        token: (this as any).$store.state.token
                    }
                }).then((e: any) => {
                    // console.log(e)
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        if (d.success) {
                            this.tableData = d.msg.list;
                        } else {
                            (this as any).$message.error(e.data.err);
                            // (this as any).$store.dispatch('loginOut', '').then(() => {
                            //     (this as any).$router.replace("/")
                            // })
                        }
                    }
                })
            },
            // 删除管理员
            del(index: number, row: any) {
                // console.log(index, row);
                (this as any).axios.post("manager/manageruser/delete", {
                    id: row.id,
                    me: (this as any).$store.state.userid
                }, {
                    headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            closeDialog() {
                this.dialogFormVisible = false;
            },
            showDialog(row: any = undefined) {
                this.dialogFormVisible = true;
                if (row) {
                    this.id = row.id
                }
                if (this.id !== "") {
                    (this as any).axios.post("manager/manageruser/get", {id: this.id}, {
                        headers: {token: (this as any).$store.state.token}
                    }).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let tmp_authority = t.data.msg.authority; //这是返回的用户的权限，先存起来
                                let defaultA: any = JSON.parse(JSON.stringify(this.defaultAuthority));
                                t.data.msg.authority = defaultA; //这样，才可以进行下面的循环
                                (this as any).d = {...this.d, ...t.data.msg};
                                //给权限赋值
                                defaultA.forEach((x: any) => {
                                    //在t.data.msg.authority中找x.sub，有的话，存入x.dvalue
                                    x.sub.forEach((xs: any) => {
                                        tmp_authority.forEach((u: any) => {
                                            u.sub.forEach((us: any) => {
                                                if (us.component == xs.component && us.label == xs.label) {
                                                    x.dvalue.push(xs)
                                                }
                                                us.sub.forEach((uu: any) => {
                                                    if (uu.component == xs.component && uu.label == xs.label) {
                                                        x.dvalue.push(xs)
                                                    }
                                                })
                                            })
                                        })
                                    })
                                });

                                //最外围的全选显示问题
                                defaultA.forEach((x: any) => {
                                    let checkedCount = x.dvalue.length;
                                    x.checkAll = checkedCount === x.sub.length;
                                    x.isIndeterminate = checkedCount > 0 && checkedCount < x.sub.length;
                                });
            console.log('------------------------');
            console.log(defaultA);
            console.log('------------------------');
                                this.d.authority = defaultA;
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('获取管理员失败');
                        }
                        this.$forceUpdate();
                    })

                }
            },
            selectAllChange(val: any, i: any) {
                (this as any).d.authority[i].dvalue = val ? (this as any).d.authority[i].sub : [];
                (this as any).d.authority[i].isIndeterminate = false;
            },
            selectChange(val: any, i: any) {
                let checkedCount = val.length;
                (this as any).d.authority[i].checkAll = checkedCount === (this as any).d.authority[i].sub.length;
                (this as any).d.authority[i].isIndeterminate = checkedCount > 0 && checkedCount < (this as any).d.authority[i].sub.length;
            },
            submitForm(formName: any) {
                let ary: any = [], flag: any = [];
                (this as any).d.authority.forEach((t: any) => {
                    if (t.dvalue.length > 0) {
                        let par: any = {label: t.label, component: "", sub: []};
                        let tmp: any = {}
                        t.dvalue.forEach((p: any) => {
                            let pc = p.parent || p.component;
                            if (tmp[pc]) { //有，这时实际要把子项往里放
                                if (p.parent) {
                                    // delete p.parent
                                    flag.push(p.parent + "/" + p.component)
                                    tmp[pc].sub.push({label: p.label, component: p.component, show: p.show})
                                    tmp[pc].show = p.show
                                } else {
                                    flag.push(p.component + "/list")
                                    tmp[pc].label = p.label
                                    tmp[pc].show = p.show
                                }
                            } else { //没有，此时要新建
                                tmp[pc] = {sub: []};
                                tmp[pc].component = pc;
                                if (p.parent) {
                                    // delete p.parent
                                    flag.push(p.parent + "/" + p.component)
                                    tmp[pc].sub.push({label: p.label, component: p.component, show: p.show})
                                    tmp[pc].show = p.show
                                } else {
                                    flag.push(p.component + "/list")
                                    tmp[pc].label = p.label
                                    tmp[pc].show = p.show
                                }
                            }
                        });
                        Object.values(tmp).forEach((p: any) => {
                            par.sub.push(p)
                        });
                        ary.push(par)
                    }
                });
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d,
                        };
                        if (this.id) {
                            data.id = this.id
                        }
                        let org_name:any = typeof data.org_name ==='object'?data.org_name[1]:data.org_name;
                        data.org_name = org_name;
                        data.authority = JSON.stringify(ary);
                        data.flag = JSON.stringify(flag);
                        data.area = '01';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/manageruser/design', data, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.dialogFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                });
            }
        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{ text-align: left; }
</style>