<template>
    <div class="main-component-box">
        <div class="head">
            <i @click="getData()" class="el-icon-refresh"></i>
            <div class="left filter-container">
                <el-input placeholder="请输入" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
                <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="tableBox">
            <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="id" label="ID" width="80"></el-table-column>
                <el-table-column prop="member_name" label="反馈人" width="100"></el-table-column>
                <el-table-column prop="title" label="标题"></el-table-column>
                <el-table-column prop="memo" label="内容"></el-table-column>
                <el-table-column prop="img" label="图片">
                    <template #default="scope">
                        <el-image v-for="(v,i) in scope.row.images" :key="i" style="width: 60px; height: 60px" fit="contain" :src="proposalImg + v" :preview-src-list="[proposalImg + v]"></el-image>
                    </template>
                </el-table-column>
                <el-table-column prop="intime" label="时间" width="180"></el-table-column>
                <el-table-column label="操作" width="100">
                    <template #default="scope">
                        <el-dropdown trigger="click">
                            <el-button type="primary"
                            size="mini"
                            @click="hui(scope.row)">回复</el-button>
                        </el-dropdown>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import { fileHost, proposalImg } from "@/utils/utils";

    export default defineComponent({
        name: "proposal",
        setup() {
            return reactive({
                fileHost: fileHost(),
                proposalImg: proposalImg(),
                query: {
                    key: "",
                    currentpage: 1,
                    pagesize: 10,
                },
                total: 1,
                tableData: []
            })
        },
        data() {
            return {
            }
        },
        watch: {
        },
        mounted() {
            this.getData();
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            getData() {
                let token = (this as any).$store.state.token;
                (this as any).axios.post("manager/proposal/list", this.query, {headers: { token: token },}).then((e: any) => {
                    if (e.data.success) {
                        this.tableData = e.data.msg.list;
                        this.total = e.data.msg.count;
                        for(let i=0; i<this.tableData.length; i++){
                            (this as any).tableData[i].images = (this as any).tableData[i].img.split(',')
                        }
                    }else{
                        (this as any).$message.error(e.data.err)
                    }
                });
            },
            pagechange(val: any) {
                this.query.currentpage = val;
                this.getData();
            },
            hui(row: any) {
                let token = (this as any).$store.state.token;
                (this as any).$prompt("请输入内容", "回复", {confirmButtonText: "确定",cancelButtonText: "取消",}).then((value: any) => {
                    if(!value.value){
                        (this as any).$message.error('回复不能为空');
                        return
                    }
                    (this as any).axios.post("manager/proposal/design",{id: row.id,reply: value.value,},{headers: { token: token },}).then((e: any) => {
                        if (e.data.success) {
                            (this as any).$message.success("回复成功");
                        } else {
                            (this as any).$message.error(e.data.err);
                        }
                    });
                    }).catch(() => {
                        (this as any).$message({type: "info",message: "取消输入",});
                });
            },
        }
    })
</script>

<style lang="scss" scoped>
</style>