<template>
    <div class="main-component-box">
        <el-upload class="avatar-uploader" ref='upload' :action="uploadHost" :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="handleBeforeUpload">
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import { uploadHost, imagesDisplayHost, } from "@/utils/utils";

    export default defineComponent({
        name: "startimage",
        setup() {
            return reactive({
                uploadHost: uploadHost(),
                imagesDisplayHost: imagesDisplayHost(),
                imageUrl:"http://party--building.oss-cn-hangzhou.aliyuncs.com/config/startimage.jpg?" + Math.random(),
            })
        },
        data() {
            return {
            }
        },
        watch: {
        },
        mounted() {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            handleAvatarSuccess(res: any, file: any) {
                this.imageUrl = this.imagesDisplayHost + res.filename;
                let token = (this as any).$store.state.token;
                (this as any).axios.post("manager/startimage",{startimage: res.filename,},{ headers:{token:token}}).then((e: any) => {
                    if (e.data.success) {
                        (this as any).$message({message: "上传成功",type: "success",});
                    }else{
                        (this as any).$message.error(e.data.err)
                    }
                });
            },
            handleBeforeUpload(file: any) {
                const isJPG = file.type === "image/jpeg" || file.type === "image/png";
                const isLt10M = file.size / 1024 / 1024 < 10;
                if (!isJPG) {
                    (this as any).$message.error("上传图片只能是 JPG或PNG 格式!");
                }
                if (!isLt10M) {
                    (this as any).$message.error("上传图片大小不能超过 10MB!");
                }
                if (isJPG && isLt10M) {
                    // (this as any).$loading({title: '上传中...'});
                }
                return isJPG && isLt10M;
            },
        }
    })
</script>

<style lang="scss" scoped>
    .avatar-uploader{width: 100%;height: 100%;padding-bottom: 10px;box-sizing: border-box;}
    /deep/ .avatar-uploader .el-upload{
        position: relative;
        width: 100%;
        height: 100%;
    }
    img{
        position: relative;
        height: 100%;
    }
    .file {
        display: flex;
        margin-bottom: 20px;
    }
</style>