<template>
  <div class="map-page">
    <div id="mapBox" style="width:100%; height:100%"></div>
  </div>
</template>

<script lang="ts">
  import {defineComponent, reactive} from 'vue';
  export default defineComponent({
    name: 'gaodeMap',
    props: {
      maplist: {
        type: Array,
        default () {
          return []
        }
      }
    },
    setup() {
      return reactive({
        Map: null,
        marker: null,
      })
    },
    data(){
      return {
      }
    },
    mounted() {
        this.initMap();
    },
    watch:{
      maplist: function(){
        // 设置路径
        this.initMap();
      }
    },
    methods:{
      initMap(){
        setTimeout(()=>{
          (this as any).Map = new (window as any).BMap.Map('mapBox'); // 创建Map实例
          //清除覆盖物
          (this as any).Map.clearOverlays();
          (this as any).Map.centerAndZoom(new (window as any).BMap.Point(116.331398,39.897445),11);
          // (this as any).Map.centerAndZoom("中国", 5); //地图创建完成后显示的地方
          (this as any).Map.enableScrollWheelZoom(true);//开启鼠标滚轮缩放
          //放大系数为18
          (this as any).Map.setZoom((this as any).Map.getZoom());
          // 设置路径
          this.setMap();
        },50)
        
      },
      // 设置路径
      setMap(){
        ///画出运动轨迹
        let pointArr:any = [];//坐标数组, 用于划线 维度lat，经度lng
        let pointEnd = null;//最后的点 point
        (this as any).maplist.map((v:any,i:any)=>{
          let point = new (window as any).BMap.Point(v.lng, v.lat);
          pointArr.push(point);
          if(i===(this as any).maplist.length-1){
            pointEnd = new (window as any).BMap.Point(v.lng, v.lat);
          }
        })
        let polyline = new (window as any).BMap.Polyline(pointArr, {
                strokeColor: "#67c23a",
                strokeWeight: 6,
                strokeOpacity: 0.5
        });
        //画出运动轨迹
        (this as any).Map.addOverlay(polyline);
        //让最后的点显示在屏幕正中心
        (this as any).Map.centerAndZoom(pointEnd, 10);
        //根据提供的地理区域或坐标设置地图视野，调整后的视野会保证包含提供的地理区域或坐标
        (this as any).Map.setViewport(pointArr);
        //最后的点--带文字标签的覆盖物
        let marker = new (window as any).BMap.Marker(pointEnd); // 创建点
        (this as any).Map.addOverlay(marker);                 // 加载标注
        let label = new (window as any).BMap.Label("当前位置",{offset:new (window as any).BMap.Size(20,-10)});
        marker.setLabel(label);
        
      },
    }
  })
</script>

<style scoped lang="scss">
  .map-page,#mapBox{
    width: 100%;height: 100%;position: relative;
  }
  #mapBox{

  }
</style>