<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="//unpkg.com/progressive-image/dist/index.css" rel="stylesheet" type="text/css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- 百度地图 webgl -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?type=webgl&v=2.0&ak=2l1jvGgxlgtsuASGipPthrckkZzGzgx4"></script>
    <!-- 百度地图 web端(JS API) -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2l1jvGgxlgtsuASGipPthrckkZzGzgx4"></script>
    <!-- 高德地图 web端(JS API) -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0Beta&key=1d4d7a38d58f24ca3cab249ca41745fc"></script>
    <!-- 腾讯地图 API GL -->
    <script type="text/javascript" src="https://map.qq.com/api/gljs?v=1.exp&key=DCYBZ-VCULW-BNXR3-RICBI-NVOSH-4WFN6"></script>
  </body>
</html>