<template>
  <div class="upload-container">
    <el-button :style="{background:color,borderColor:color}" icon="el-icon-upload" size="mini" type="primary" @click="uploadImg()">
      文中插入图片
    </el-button>
    <el-button v-if="!1" :style="{background:color,borderColor:color}" icon="el-icon-upload" size="mini" type="primary" @click="dialogVisible=true">
      文中插入视频
    </el-button>
    <el-dialog v-model="dialogVisible" style="z-index: 2222">
      <el-upload
        :multiple="true"
        :file-list="fileList"
        :show-file-list="true"
        :on-remove="handleRemove"
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
        class="editor-slide-upload"
        :headers="header"
        :action="host.fileHost"
        list-type="picture-card"
      >
        <el-button size="small" type="primary">
          点击上传
        </el-button>
      </el-upload>
      <el-button @click="dialogVisible = false">
        取消
      </el-button>
      <el-button type="primary" @click="handleSubmit">
        确定
      </el-button>
    </el-dialog>
  </div>
</template>

<script>
/**
  * date: 2021-02-03
  * doc:
  * @host 下面这个host是指服务端域名,我这个项目里存在config里,你的在哪里自己配,不要不知道host是什么意思~想写死就在数据源写死
  * @getCookie 下面的getCookie是我拿请求头的方法,你自己有就自己写
  * @name 自己定义不要照抄
  * @props 自己决定
  * // import { host } from '../../../../../../config'
  * // import { getCookie } from '@/utils/cookie'
 */
import {uploadHost,ossHost} from "@/utils/utils";



export default {
  name: 'EditorSlideUpload',
  props: {
    color: {
      type: String,
      default: '#1890ff'
    }
  },
  data() {
    return {
      host:{
        serveHost: 'http://partybuilding.server.zhhost.top/manager/',
        fileHost: uploadHost(), // 上传预览
        basicHost: ossHost(), // 持久化存储路径
        ossHost: '' // 缩略图&oss图片路径
      },
      header: {
        Cookie: this.$store.state.token
      },
      dialogVisible: false,
      listObj: {},
      fileList: []
    }
  },
  methods: {
    uploadImg(){
      this.dialogVisible=true
    },
    checkAllSuccess() {
      return Object.keys(this.listObj).every(item => this.listObj[item].hasSuccess)
    },
    handleSubmit() {
      const arr = Object.keys(this.listObj).map(v => this.listObj[v])
      if (!this.checkAllSuccess()) {
        this.$message('请等待所有图像成功上传。 如果出现网络问题，请刷新页面，然后重新上传!')
        return
      }
      this.$emit('successCBK', arr)
      this.listObj = {}
      this.fileList = []
      this.dialogVisible = false
    },
    handleSuccess(response, file) {
      const uid = file.uid
      const objKeyArr = Object.keys(this.listObj)
      for (let i = 0, len = objKeyArr.length; i < len; i++) {
        if (this.listObj[objKeyArr[i]].uid === uid) {
          this.listObj[objKeyArr[i]].url = response.filename && this.host.ossHost + response.filename
          this.listObj[objKeyArr[i]].hasSuccess = true
          return
        }
      }
    },
    handleRemove(file) {
      const uid = file.uid
      const objKeyArr = Object.keys(this.listObj)
      for (let i = 0, len = objKeyArr.length; i < len; i++) {
        if (this.listObj[objKeyArr[i]].uid === uid) {
          delete this.listObj[objKeyArr[i]]
          return
        }
      }
    },
    beforeUpload(file) {
      const _self = this
      const _URL = window.URL || window.webkitURL
      const fileName = file.uid
      this.listObj[fileName] = {}
      return new Promise(resolve => {
        const img = new Image()
        img.src = _URL.createObjectURL(file)
        img.onload = function() {
          _self.listObj[fileName] = { hasSuccess: false, uid: file.uid, width: this.width, height: this.height }
        }
        resolve(true)
      })
    }
  }
}
</script>

<style scoped>
.editor-slide-upload {
  margin-bottom: 20px;
}
.el-upload--picture-card {
  width: 100%;
}
</style>
