<template>
  <div class="loginBg">
    <div class="bg-top">
      <span class="t">东阳党建管理平台</span>
    </div>
    <div class="login_c">
      <div class="center">
        <div class="title">登录</div>
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
          <el-form-item label="账&emsp;&emsp;号:" prop="uname">
            <el-input v-model="ruleForm.uname" clearable auto-complete="new-accounts" :autocomplete="'new-accounts'||'off'"></el-input>
          </el-form-item>
          <el-form-item label="密&emsp;&emsp;码:" prop="pass">
            <el-input style="position:fixed;z-index:-9998;"></el-input>
            <el-input type="password" v-model="ruleForm.pass" auto-complete="new-password" :autocomplete="'new-password'||'off'" clearable></el-input>
            <el-input style="position:fixed;z-index:-9998;"></el-input>
          </el-form-item>
          <el-form-item label="验&nbsp;&nbsp;证&nbsp;&nbsp;码:" prop="ecode" style="position: relative; margin-bottom: 10px">
            <el-input style="position:fixed;z-index:-9997;"></el-input>
            <el-input v-model="ruleForm.ecode" autocomplete="off" style="width: 100px"></el-input>
            <img :src="`http://partybuilding.server.zhhost.top/zh8848/VerifyCode${rand}/h=28&bg=FFFFFFFF&len=4`" class="ecode" @click="newRand"/>
          </el-form-item>
          <div class="checkbox">
            <text>记&nbsp;&nbsp;住&nbsp;&nbsp;我:</text>
            <el-checkbox v-model="remember" name="type" @change="rememberMe"></el-checkbox>
          </div>
          <div class="button">
              <div @click="submitForm('ruleForm')">登录</div>
              <div @click="resetForm('ruleForm')">重置</div>
          </div>
        </el-form>
      </div>
    </div>
      <span class="base-t">版本号：1.0.3</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { setCookie, getCookie } from "@/utils/utils";
import { mapState } from "vuex";
export default defineComponent({
  name: "Login",
  data() {
    const validatePass = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    const validateAccount = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入账号"));
      } else {
        callback();
      }
    };
    const validateEcode = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入验证码"));
      } else {
        callback();
      }
    };
    return {
      rand: Math.floor(Math.random() * 100),
      ruleForm: {
        pass: "", //1
        ecode: "", // 1
        uname: "", //admin
      },
      remember: false,
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        uname: [{ validator: validateAccount, trigger: "blur" }],
        ecode: [{ validator: validateEcode, trigger: "blur" }],
      },
      fullscreenLoading: false, // 全屏加载loading
    };
  },
  mounted() {
    // const { proxy,ctx  }: any = getCurrentInstance(); //获取上下文实例，ctx=vue2的this
    document.addEventListener("keydown", (e) => {
      let key = window.event ? e.keyCode : e.which;
      if (key === 13 && window.location.pathname == "/") {
        this.submitForm("ruleForm");
      }
    });
    const isRemember: any = getCookie("remember") || "";
    
    if (isRemember === "true") {
      this.remember = true;
      let Obj: any = Object.assign({}, this.ruleForm);
      Obj.uname = getCookie("uname") || "";
      Obj.pass = getCookie("pass") || "";
      this.ruleForm = Object.assign({}, Obj);
    } else {
      this.ruleForm.uname = '';
      this.ruleForm.pass = '';
      this.remember = false;
    }
  },
  computed: {
    ...mapState({
      version: (state: any) => state.version,
      systemName: (state: any) => state.systemName,
    }),
  },
  methods: {
    rememberMe() {
      if (!this.remember) {

        setCookie("remember", "false");
        setCookie("uname", "");
        setCookie("pass", "");
      } else {
        setCookie("remember", "true");
        setCookie("uname", this.ruleForm.uname);
        setCookie("pass", this.ruleForm.pass);
      }
    },
    newRand() {
      this.rand = Math.floor(Math.random() * 100);
    },
    submitForm(formName: any) {
      // const { proxy,ctx }: any = getCurrentInstance();
      (this as any).$refs[formName].validate((valid: any) => {
        const store = (this as any).$store;
        if (valid) {
          this.fullscreenLoading = true;

          // ts中使用接口（Interfaces）来定义 对象 的类型。
          interface dataType {
            uname: string;
            pass: string;
            vcode: string;
          }

          let data: dataType = {
            uname: this.ruleForm.uname, // 如果code的类型错误 则编译失败
            pass: this.ruleForm.pass, // 如果code的类型错误 则编译失败
            vcode: this.ruleForm.ecode, // 如果code的类型错误 则编译失败
          };

          (this as any).axios
            .post("manager/login", data, {
              headers: { token: (this as any).$store.state.token },
            })
            .then((e: any) => {
              console.log("登陆成功", e);
              this.fullscreenLoading = false;
              if (e.data.success) {
                let d: any = e.data.msg;
                store.dispatch("setUserIdAction", d.id); // 修改用户id
                store.dispatch("setUserNameAction", d.name); // 修改用户名
                store.dispatch("setTokenAction", d.token); // 修改登录用户 的 Token
                // store.dispatch("setOrgAction", d.org_id); // 修改登录用户的org_id
                let arr: any = [
                      {
                        "label":"系统设置",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"管理员维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"manageruser",
                            "label":"管理员管理",
                            "show":true
                          },
                          {
                            "sub":[
                            ],
                            "component":"editpass",
                            "label":"修改密码",
                            "show":false
                          },
                          {
                            "sub":[
                            ],
                            "component":"startimage",
                            "label":"启动图",
                            "show":true
                          }]
                      },
                      {
                        "label":"组织管理",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"组织维护",
                                "component":"edit",
                                "show":true
                              },
                              {
                                "label":"组织里的官员",
                                "component":"official",
                                "show":true
                              },
                              {
                                "label":"组织里的党员",
                                "component":"member",
                                "show":true
                              }],
                            "component":"organization",
                            "label":"组织管理",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"党员维护",
                                "component":"edit",
                                "show":true
                              },
                              {
                                "label":"党员流转记录列表",
                                "component":"flow_list",
                                "show":true
                              },
                              {
                                "label":"党员流转记录添加",
                                "component":"flow_add",
                                "show":true
                              },
                              {
                                "label":"党员流转记录删除",
                                "component":"flow_delete",
                                "show":true
                              }],
                            "component":"member",
                            "label":"党员管理",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"通知维护",
                                "component":"edit",
                                "show":true
                              },
                              {
                                "label":"通知查看已读情况",
                                "component":"read",
                                "show":true
                              }],
                            "component":"notice",
                            "label":"通知公告",
                            "show":true
                          }]
                      },
                      {
                        "label":"理论学习",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"主题党日维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"themepartyday",
                            "label":"主题党日",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"政策法规维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"policy",
                            "label":"政策法规",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"学习强国维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"study",
                            "label":"学习强国",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"文档维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"files",
                            "label":"文档管理",
                            "show":true
                          }]
                      },
                      {
                        "label":"守纪立规",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"守纪立规维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"discipline",
                            "label":"守纪立规",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"奖罚查询维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"prize",
                            "label":"奖罚查询",
                            "show":true
                          }]
                      },
                      {
                        "label":"联系群众",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"农户维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"masses",
                            "label":"农户管理",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"走访维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"visit",
                            "label":"走访管理",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"走访查询维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"visitquery",
                            "label":"走访查询",
                            "show":true
                          }]
                      },
                      {
                        "label":"党员劳动",
                        "component":"",
                        "sub":[
                          {
                            "sub":[
                              {
                                "label":"劳动指派维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"labuorassign",
                            "label":"劳动指派",
                            "show":true
                          },
                          {
                            "sub":[
                              {
                                "label":"劳动查询维护",
                                "component":"edit",
                                "show":true
                              }],
                            "component":"labuorquery",
                            "label":"劳动查询",
                            "show":true
                          }]
                      }
                ]
                // let arr: any = JSON.parse(JSON.stringify(d.menu)),
                let arr1: any = [];
                let Obj: any = {
                    '系统设置': 'systemmanage',
                    '组织管理': 'organizationmanage',
                    '理论学习': 'partyaffairsmanage',
                    '守法立规': 'documentmanage',
                    '联系群众': 'massesmanage',
                    '党员劳动': 'labourmanage',
                };
                arr.map((item: any, index: number) => {
                  if(item.label){
                    item.routes = Obj[item.label];
                    item.routesIndex = index;
                    let ars: any = [];
                    item.sub.map((val: any) => {
                      if (val.show) {
                        if(val.label){
                          ars.push(val);
                        }
                      }
                    });
                    item.sub = JSON.parse(JSON.stringify(ars));
                    
                    if(item.sub.length>0){
                      arr1.push(item);
                    }
                  }
                });
                console.log(arr1);
                
                // 获取权限
                store.dispatch("setMenuAction", arr1); // 修改登录用户 的 Token
                this.getAllMenu(() => {
                  // 路由修改
                  this.$router.push({
                    path: arr1[0]["routes"],
                    query: {
                      type: "0",
                      component: arr1[0]["sub"][0]["component"],
                      routesIndex: 0
                    },
                  })
                });
              } else {
                (this as any).$message.error(e.data.err);
              }
            })
            .catch(() => {
              this.fullscreenLoading = false;
            });
        } else {
          return false;
        }
      });
    },
    // 获取所有的权限列表
    getAllMenu(callback: any = null) {
      (this as any).axios
        .post(
          "manager/menu",
          {},
          {
            headers: { token: (this as any).$store.state.token },
          }
        )
        .then((t: any) => {
          if (t.status == 200) {
            if (t.data.success) {
              (this as any).$store.dispatch(
                "setAllPowerMenuAction",
                t.data.msg
              );
              callback && callback();
            }
          }
        })
        .catch((err: any) => {
        });
    },
    resetForm(formName: any) {
      (this as any).$refs[formName].resetFields();
    },
  },
});
</script>

<style lang="scss" scoped>
.loginBg {
  text-align: left;width: 100vw;height: 100vh;overflow: hidden;display: flex;flex-direction: column;justify-content: space-between;align-items: center;
}
.login_c {
  position: absolute;width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;
  .center {
    padding: 20px 60px; box-sizing: border-box;background: #fff;border-radius: 20px;margin-top: 60px;
    display: table-cell;vertical-align: middle; box-shadow: 5px 5px 36px 10px rgba(0, 0, 0, 0.06);
    .title {
      text-align: center;font-size: $font-size-24;margin-bottom: 20px;
    }
  }
}
.bg-top{
  width: 100vw;height: 50vh;background: $--color-primary;display: flex;flex-direction: column;align-items: center;justify-content: space-between; padding-top: 120px;box-sizing: border-box;
  .t{color: #fff;font-size: 40px;letter-spacing: 2px;}
}
.base-t{color: #999;font-size: $font-size-12;letter-spacing: 2px;margin-bottom: 20px;letter-spacing: 1px;}

.checkbox {
  text-align: left;
  margin: 40px 0;
  text{
      font-weight: 700;
      margin-right: 20px;
      color:#606266;
  }
}
.el-form-item {
  border-bottom: 1px solid $--color-primary;
}
/deep/.el-input__inner{
    border:0;
}
/deep/.el-form-item__label{
    text-align: left;
    font-weight: 700;
}
.button{
    display: flex;
    justify-content: space-between;
    div{
        border-radius: 3px;
        color:#ffffff;
        font-weight: 700;
        background-color: $--color-primary;
        text-align: center;
        line-height: 40px;
        width: 40%;
        cursor: pointer;
    }
}
</style>