<template>
  <div class="iphone-wrap">
    <div class="words-wrap">
      <div class="content_" v-html="words" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'IPhone',
  props: {
    res: {
      type: String,
      default: ''
    }
  },
  computed: {
    words() {
      return this.res
    }
  }
}
</script>

<style scoped>
  .iphone-wrap{
    width: 360px;
    height: 765px;
    padding: 55px 30px 30px 35px;
    background-color: #fff;
    background-image: url('../../assets/iphone.png');
    background-size: cover;
    position: relative;
  }
  .iphone-wrap .words-wrap{
    width: 90%;
    margin: 0 auto;
  }
  .iphone-wrap .content_{
    height: 760px;
    border-radius: 0 0 25px 25px;
    overflow-y: auto;
    -ms-overflow-style:none;
    /*火狐下隐藏滚动条*/
    overflow:-moz-scrollbars-none;
  }
  .iphone-wrap .title{
    width: 100%;
    font-size: 30px;
  }
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  .iphone-wrap::-webkit-scrollbar,
  .iphone-wrap .content_::-webkit-scrollbar{
    display:none;
  }
</style>
