<template>
    <div class="aside-page">
        <el-collapse v-model="asideIndex" accordion>
            <el-collapse-item :title="item.label" :class="['collapse-item',routesIndex===index?'collapse-active':'']" v-for="(item,index) in newMenu" :key="index" :name="index">
                <div :class="'tabInfo' + ((routesIndex == index && type==i)?' text-active':'')" v-for="(val,i) in item.sub" :key="index+'/'+i" @click="goUrl(val,i,item,index)">{{val.label}}</div>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script lang="ts">
    import {
        defineComponent
        /*,getCurrentInstance*/
    } from 'vue';
    import {mapState} from 'vuex'

    export default defineComponent({
        name: "Aside",
        data() {
            return {
                activeName: 0,
                newMenu: [],
                type: 0,// 选中第几项
                routesIndex: 0 // 选中第几项
            }
        },
        mounted() {
            // 处理menu
            let arr: any = [];
            (this as any).$store.state.menu.map((item: any) => {
                let as: any = item.sub, as1: any = [];
                item.sub = [];
                as.map((val: any) => {
                    if (val.label) {
                        as1.push(val);
                    }
                });
                item.sub = [...as1];
                // if(item.sub[0].label){
                arr.push(item)
                // }
            });
            this.newMenu = arr;
            // 刷新页面 计算路由自动设置左侧下标
            this.forRouterSetTab(this.newMenu);
        },
        computed: {
            ...mapState({
                menu: (state: any) => state.menu,
                asideIndex: (state: any) => state.asideIndex
            }),
        },
        watch:{
            $route(to:any){
                this.type = parseInt(to.query.type);
            }
        },
        methods: {
            goUrl(val: any, type: string, item: any, routesIndex: number) {

                (this as any).$store.dispatch('setBreadcrumbs', item.label + '/' + item.sub[type]['label']); // 修改登录用户 的 Token
                (this as any).$store.dispatch('setAsideIndex', routesIndex); // 修改登录用户 的 Token
                // start 以下两个属性 用来判断你左侧选中项是否高亮
                this.type = parseInt(type);
                this.routesIndex = routesIndex;
                // end
                this.$router.push({
                    path: '/' + item.routes,
                    query: {
                        type,
                        component: val.component,
                        routesIndex
                    }
                })
            },

            // 刷新页面 计算路由自动设置左侧下标
            forRouterSetTab(newMenu:any){
                let component:any = this.$route.query.component;
                for (let i = 0; i < newMenu.length; i++) {
                    let sub:any = newMenu[i].sub;
                    for (let n = 0; n < sub.length; n++) {
                        if(component===sub[n].component){
                            this.routesIndex = i;
                            this.type = n;
                        }
                    } 
                }
            },
        }
    })
</script>

<style lang="scss" scoped>
    .aside-page{}
    .Login {
        margin: 50px auto;
    }

    .collapse-item {
        background: #353b48;
    }

    .tabInfo {
        text-align: left;
        padding-left: 30px;
        box-sizing: border-box;
        cursor: pointer;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #E4E7ED;
        border: none;
    }
    .tabInfo:hover{
        background: rgba(0, 0, 0, 0.1);
    }

    .tabInfo:last-child {
        border-bottom: none;
    }
    /deep/ .el-collapse{
        --el-collapse-header-height: 60px;
    }
    /deep/ .el-collapse .el-collapse-item__header:hover{background: rgba(0, 0, 0, 0.1);}
    /deep/ .el-collapse .collapse-active .el-collapse-item__header{background: rgba(0, 0, 0, 0.2);}
    /deep/ .el-collapse{border: none;}
    /deep/ .el-collapse .el-collapse-item__content{background: #353b48;color: #fff;}
    /deep/ .el-collapse .el-collapse-item__header{ padding-left: 15px; font-size: $font-size-14 !important;background: #353b48;color: #fff;border-bottom: solid 1px rgba(0, 0, 0, 0.1);}
    /deep/ .el-collapse .el-collapse-item__wrap{border: none;}
</style>