<!-- 
	日期日历组件:
	传递参数: 
	1. 时间列表数据: list 
	2. 单个时间中展示的字段配置项 options 
	3. 获取时间列表数据的事件 @getData
    4. 弹框出现的事件 @showDialog
-->
<template>
    <div class="container">
        <div class="header">
            <i class="el-icon-back" @click="back()"></i>
            <el-button type="primary" size="small" class="mr10" @click="showDialog(true)">批量设置</el-button>
        </div>
        <!-- 列表 内容 -->
        <div class="list-content">
            <div class="toolBar">
                <el-date-picker
                    v-model="monthValue"
                    type="month"
                    placeholder="选择月"
                    format="YYYY年MM月"
                    @change="changeData">
                </el-date-picker>
                <el-button type="primary" size="small" class="ml10" @click="getParams()">查询</el-button>
            </div>
            <div class="month-wraper">
                <table class="table-wraper">
                    <tr class="thead">
                        <th v-for="(item,index) in headData" :key="index">{{item}}</th>
                    </tr>
                    <tr class="tbody" v-for="(item,index) in tableData" :key="index">
                        <th :class="{bcyello: nowDate == v.day.split(' ')[0]}" v-for="(v,i) in item" :key="i" @click="showDialog(false, v)">
                            <div class="dayNumber" :class="{opa3: sliceDate(v.day, 1) != monthValue.getMonth() + 1}">{{sliceDate(v.day, 2)}}日</div>
                            <!-- <div v-if="componentName == 'scenicSessionStock'">
                                <div class="base" :class="{cred: v.closemodel == 0}" v-text="v.closemodel == 0 ? '该场次已关闭预定' : '该场次已开启预定'"></div>
                                <div v-if="v.closemodel == 1">
                                    <div class="base">库存数量：{{v.socketnumber}}</div>
                                </div>
                            </div> -->
                            <div>
                                <div class="base" v-for="(x,ind) in options" :key="ind">
                                    <div v-if="x.valueName == 'closemodel'" :class="{cred: v.closemodel == 0}">{{x.label}}{{v[x.valueName] == 0 ? '已关闭' : '已开启'}}</div>
                                    <div v-else-if="x.valueName == 'socketnumber'">{{x.label}}{{!v[x.valueName] ? '不限库存' : v[x.valueName]}}</div>
                                    <div v-else-if="x.valueName == 'marketprice' || x.valueName == 'price'">{{x.label}}￥{{!v[x.valueName] ? 60 : v[x.valueName]/100}}</div>
                                    <div v-else>{{x.label}}{{v[x.valueName]}}</div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, } from 'vue';

    export default defineComponent({
        name: "comDate",
        components: {},
        data() {
            return {
                monthValue: "",
                nowDate: "",
                headData: ["周一","周二","周三","周四","周五","周六","周日",],
                isBatch: false,
                dialogFormVisible: false,
                params: {
                    startday: "",
                    endday: "",
                }
            }
        },
        props: ['list','options'],
        // props: {
        //     list: {
        //         type: Array,
		// 		default(){
		// 			return [[]]
		// 		}
        //     },
        //     componentName: {
        //         type: String,
		// 		default(){
		// 			return ""
		// 		}
        //     },
        // },
        computed: {
            tableData: function() {
                console.log(this.list)
                let data = (this as any).list
                return [data.slice(0,7),data.slice(7,14),data.slice(14,21),data.slice(21,28),data.slice(28,35),data.slice(35,42),]
            }
        },
        created() {
            // 获取当前年月 设置初始值
            this.getNowMonth()
        },
        methods: {
            showDialog(type:boolean, data:any) {
                let params = {
                    type,
                    ...data
                }
                console.log(params)
                this.$emit("showDialog", params)
            },
            getNowMonth() {
                const today = new Date() // 当前时间对象
	            const nowYear = today.getFullYear()//当前时间所属年份
                const nowMonth =today.getMonth() + 1;
                const nowDay =today.getDate();
                this.nowDate = `${nowYear}-${this.padZero(nowMonth)}-${this.padZero(nowDay)}`;
                (this as any).monthValue = new Date(`${nowYear}-${nowMonth}`)
                console.log(this.monthValue)
                const result = this.getParams(this.monthValue);
                (this as any).params.startday = result.startday;
                (this as any).params.endday = result.endday;
                this.$emit("getData",this.params)
            },
            // 获取列表所需的参数
            getParams(dataValue:any) {
                console.log(dataValue)
                // getDay() 方法根据本地时间，返回一个具体日期中一周的第几天 0周日 - 6
                // setDate() dayValue 指定0，那么日期就会被设置为上个月的最后一天
                // getDate() 根据本地时间，返回一个指定的日期对象为一个月中的哪一日（从1--31）

                const nowYear = dataValue.getFullYear();
                const nowMonth = dataValue.getMonth() + 1;
                const monthFirstDay = new Date(`${nowYear}-${nowMonth}-01`)
                const week = monthFirstDay.getDay()
                console.log("当前月1号是周几："+week)
                // 判断往上需要补几天 周日0补6天 周六6补5天
                let preMonthNeedDays = week == 0 ? 6 : (week - 1)
                console.log("往上需要补几天："+preMonthNeedDays)
                let dataValue1 = new Date(`${nowYear}-${nowMonth}`)
                dataValue1.setDate(0)
                const preMonthLastDay = dataValue1.getDate()
                console.log("上月的最后一天："+preMonthLastDay);
                const preMonthYear = dataValue1.getFullYear();
                const preMonthMonth = dataValue1.getMonth() + 1;
                console.log("上月的年月："+preMonthYear+"-"+preMonthMonth);
                // let startday = preMonthNeedDays == 0 ? monthFirstDay : ( new Date(`${preMonthYear}-${preMonthMonth}-${preMonthLastDay-preMonthNeedDays+1}`) )
                let startday = preMonthNeedDays == 0 ? `${nowYear}-${this.padZero(nowMonth)}-01` : `${preMonthYear}-${this.padZero(preMonthMonth)}-${this.padZero(preMonthLastDay-preMonthNeedDays+1)}`
                console.log(startday)

                // 判断下个月需要补几天
                let dataValue2 = new Date(nowYear, nowMonth, 0)
                let dayNumber = dataValue2.getDate()
                console.log("当月一共多少天："+dayNumber)
                let dataValue3 = new Date(`${nowYear}-${nowMonth}-${dayNumber}`)
                console.log(dataValue3)
                const week1 = dataValue3.getDay()
                console.log("当前月最后一天是周几："+week1)
                let nextMonthNeedDays = week1 == 0 ? 0 : (7 - week1)
                console.log("往后需要补几天："+nextMonthNeedDays)
                const sumDays = preMonthNeedDays + dayNumber + nextMonthNeedDays
                console.log("总天数"+sumDays)
                const nextMonthYear = nowMonth == 12 ? nowYear+1 : nowYear
                const nextMontnMonth = nowMonth == 12 ? 1 : nowMonth+1
                console.log("下月的年月："+nextMonthYear+"-"+nextMontnMonth)
                // const endday = sumDays == 42 ? ( new Date(`${nextMonthYear}-${nextMontnMonth}-${nextMonthNeedDays}`) ) : ( new Date(`${nextMonthYear}-${nextMontnMonth}-${nextMonthNeedDays+7}`) )
                const endday = sumDays == 42 ? `${nextMonthYear}-${this.padZero(nextMontnMonth)}-${this.padZero(nextMonthNeedDays)}` : `${nextMonthYear}-${this.padZero(nextMontnMonth)}-${this.padZero(nextMonthNeedDays+7)}`
                console.log(endday)

                return {startday: startday,endday: endday}
            },
            // 时间变化时
            changeData(e:any) {
                console.log(e)
                if(!!e) {
                    const result = this.getParams(e);
                    (this as any).params.startday = result.startday;
                    (this as any).params.endday = result.endday;
                    this.$emit("getData",this.params)
                }
            },
            padZero(e:any) {
                return e.toString().padStart(2, '0')
            },
            valueFormat(value:any) {
                console.log(value)
                const nowYear = value.getFullYear()//当前时间所属年份
                const nowMonth =value.getMonth() + 1;
                const nowDay =value.getDate();
                return `${nowYear}-${this.padZero(nowMonth)}-${this.padZero(nowDay)}`
            },
            sliceDate(e:string, index:number) {
                let ymd = e.split(" ")[0]
                return ymd.split("-")[index]
            },
            back() {
                this.$router.back();
            },
        }
    })
</script>

<style lang="scss" scoped>
    .container {
        height: calc(100% - 61px);
        padding: 0 20px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            padding: 10px 0;
        }
        .list-content {
            overflow: auto;
            height: calc(100% - 52px);
            .toolBar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .month-wraper {
                // margin-top: 20px;
                padding: 20px 0;
                min-width: 820px;
                .table-wraper {
                    width: 100%;
                    border: 1px solid #ddd;
                    border-collapse: collapse;/*合并边框*/
                    .thead {
                        th{
                            border: 1px solid #ddd;
                        }
                    }
                    .tbody {
                        vertical-align: top;
                        font-size: $font-size-12;
                        th{
                            height: 140px;
                            border: 1px solid #ddd;
                        }
                        .dayNumber {
                            text-align-last: right;
                        }
                        .opa3 {
                            opacity: 0.3;
                        }
                        .bcyello {
                            background-color: #fcf8e3;
                        }
                        .base {
                            margin: 1px 0;
                            text-align: left;
                            color: #ffffff;
                            background-color: #3788d8;
                            border-radius: 3px;
                            // div {
                            //     padding: 0 2px;
                            // }
                        }
                        .cred {
                            background-color: #F56C6C;
                        }
                    }
                }
            }
        }
    }
</style>
