<template>
    <div class="main-component-box">
        <div class="head">
            <i @click="getData()" class="el-icon-refresh"></i>
            <div class="left filter-container">
                <el-input placeholder="请输入缴纳人" v-model="query.key" class="ml10 filter-item" style="width: 200px;" size="small" clearable></el-input>
                <div v-for="(v,i) in radio" :key="i" class="ml10 filter-item">
                    <el-radio v-model="state" :label="v.state">{{v.name}}</el-radio>
                </div>
                <el-date-picker v-model="keyDate" type="daterange" class="ml10" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" size="small" @change="changeDate"></el-date-picker>
                <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
            </div>
        </div>

        <div class="tableBox">
            <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <!-- <el-table-column prop="member_id" label="ID" width="100"></el-table-column> -->
                <el-table-column prop="name" label="缴纳人"></el-table-column>
                <el-table-column prop="number" label="总缴纳额"></el-table-column>
                <el-table-column  label="缴纳记录" width="120">
                    <template #default="scope">
                        <el-button size="mini" @click="showdialogDetail(scope.row)">缴纳记录</el-button>
                    </template>
                </el-table-column>
                <!-- <el-table-column prop="state" label="是否已缴" width="100"></el-table-column> -->
                <!-- <el-table-column prop="intime" label="缴纳时间"  width="180"></el-table-column> -->
                <el-table-column  label="操作" width="170">
                    <template #default="scope">
                        <el-dropdown trigger="click">
                            <el-button type="primary" size="mini" @click="showDialog(scope.row)">添加</el-button>
                            <el-popconfirm title="确定要删除该通知公告吗？" confirmButtonText='好的' cancelButtonText='不用了' @confirm="del(scope.row)">
                                <template #reference><el-button type="primary" size="mini" >删除</el-button></template>
                            </el-popconfirm>
                        </el-dropdown>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" :current-page="query.currentpage" @current-change="pagechange"></el-pagination>
    
        <!--编辑组织-->
        <el-drawer
            :title="id?'编辑':'添加'+'缴纳记录'"
            :size="'50%'"
            v-model="drawerFormVisible"
            :direction="'rtl'"
            :before-close="handleClose" destroy-on-close>
            <submitForm
                v-if="drawerFormVisible===true"
                ref="submitForm"
                :uploadHost="uploadHost"
                :form="formRenderis.duesForms"
                :rules="formRenderis.duesRules"
                :renderForms="formRenderis.duesRenderForms"
                @imgPreview="imgPreview"
                @cancel="cancel"
                @confirm="confirm">
            </submitForm>
        </el-drawer>

        <!-- 预览 -->
        <el-dialog v-model="dialogVisible">
            <img class="dialogImg" :src="dialogImageUrl" alt="">
        </el-dialog>

        <!-- 记录 -->
        <el-dialog :title="dialogDetailTitle+'的缴纳记录'" v-model="dialogDetailTable">
            <!-- 表格 -->
            <el-table :data="detailTable" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="number" label="缴纳额"></el-table-column>
                <el-table-column prop="intime" label="缴纳时间">
                    <template #default="props"><span>{{props.row.intime.substring(0,19)}}</span></template>
                </el-table-column>
            </el-table>
        </el-dialog>
    
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import {uploadHost,getDate,parseDate2Str} from '@/utils/utils'
    import formRenderis from '@/utils/form_renderis'
    import submitForm from '@/components/submitForm/index.vue'//编辑/新增表单组件

    export default defineComponent({
        name: "member",
        components:{ submitForm },
        setup() {
            return reactive({
                transferData: [],
                transferValue: [1, 4],
                drawerFormVisible: false,
                dialogListVisible: false,
                recordDrawerFormVisible: false,
                formRenderis,
                uploadHost: uploadHost(),
                getDate: getDate(false),
                dialogImageUrl: '',
                dialogVisible: false,
                query: {
                    key: "",
                    state: 0,//1-已缴，2-未缴
                    starttime:'',
                    endtime:'',
                    currentpage: 1,
                    pagesize: 8,
                },
                keyDate:'',
                total:1,
                tableData: [
                    // {
                    //     id: 16,
                    //     key: '某党员',
                    //     number: '100',
                    //     state: '已缴纳',
                    //     dues_time: '2020-12-28 15:25:25',//缴纳时间
                    //     c7: '2020-12-28 15:25:25'
                    // }
                ],
                // radio:['全部','已缴','未缴'],
                radio:[{
                    name:'全部',
                    state: 0
                },{
                    name:'未缴',
                    state: 1
                },{
                    name:'已缴',
                    state: 2
                }],
                state:0,

                dialogDetailTable: false,
                detailTable: [],
                dialogDetailTitle: ''
            })
        },
        data() {
            return {
            }
        },
        created(){
            this.generateData();
            this.date();
        },
        mounted() {
            this.getData('1');
        },
        watch: {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            getData(currentpage:string = ''){
                if(currentpage){
                    (this as any).query.currentpage = Number(currentpage)
                }
                (this as any).query.state = (this as any).state;
                console.log(this.state);
                console.log(this.query)
                let data = (this as any).query
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/dues/list',data,{headers:{token: token}}).then((e:any) =>{
                    console.log('获取数据')
                    console.log(e)
                    if(e.data.success){
                        for(let i = 0; i < e.data.msg.list.length; i++){
                            if(e.data.msg.list[i].intime){
                                e.data.msg.list[i].state = '已缴纳'
                            }else{
                                e.data.msg.list[i].state = '未缴纳'
                            }
                        }
                        this.tableData = e.data.msg.list
                        this.total = Number(e.data.msg.count)
                    }else{
                        (this as any).$message.error(e.data.err)
                    }
                })
            },
            pagechange(val: any) {
                console.log(val);
                this.query.currentpage = val;
                this.getData();
            },
            generateData(){
                const data = [];
                for (let i = 1; i <= 15; i++) {
                    data.push({
                        key: i,
                        label: `党员 ${ i }`,
                        disabled: i % 4 === 0
                    });
                }
                (this as any).transferData = data;
                
            },
            // 获取当前时间
            date(){
                this.formRenderis.duesForms.c7 = this.getDate
            },
            // 显示弹出并获取单个线路数据
            showDialog(row:any) {
                console.log(row);
                if(!row.member_id){
                    (this as any).$message.error('该党员为没有加入任何组织哦,请到党员管理添加流转!');
                    return;
                }
                if(row.state === '已缴纳'){
                    (this as any).formRenderis.duesForms.member_id = row.id;
                    (this as any).formRenderis.duesForms.number = row.number;
                    (this as any).formRenderis.duesForms.dues_time = row.dues_time;
                }else{
                    (this as any).formRenderis.duesForms.number = 0;
                    (this as any).formRenderis.duesForms.dues_time = '';
                    (this as any).formRenderis.duesForms.member_id = row.id;
                }
                (this as any).drawerFormVisible = true;
            },
            handleClose(done:any) {
                this.closeDrawer();
                done();
                return;
            },
            closeDrawer(){
                (this as any).drawerFormVisible = false;
            },
            // 预览
            imgPreview(file: any) {
                (this as any).dialogImageUrl = file.url;
                (this as any).dialogVisible = true;
            },
            confirm(e:any) {
                if(!e.form.number){
                    (this as any).$message.error('党费不能为空')
                    return
                }
                let data = e;
                data.form.dues_time = this.getDate
                console.log(data);
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/dues/design ',data.form,{headers:{token: token}}).then((e:any) =>{
                    console.log('提交')
                    console.log(e)
                    if(e.data.success){
                        (this as any).$message("操作成功")
                        this.closeDrawer();
                        (this as any).getData('1');
                    }else{
                        (this as any).$message.error(e.data.err)
                    }
                })
                // 保存或者修改

            },
            cancel(){
                this.closeDrawer();
            },
            // 时间变化
            changeDate(e:any){
                console.log(e);
                if(e){
                    this.query.starttime = parseDate2Str(e[0],"YYYY-MM-DD")
                    this.query.endtime = parseDate2Str(e[1],"YYYY-MM-DD")
                }else{
                    this.query.starttime = ''
                    this.query.endtime = ''
                }
                console.log(this.query)
            },
            // 搜索
            search(){
                this.getData('1');
            },
            // 删除
            del(row:any){
                console.log(row)
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/dues/delete',{
                    id: row.id,
                    member_id: row.member_id
                },{headers:{token: token}}).then((e:any) =>{
                    console.log('删除数据')
                    console.log(e)
                    if(e.data.success){
                        (this as any).$message({
                        message: '操作成功',
                        type: 'success'
                        });
                        this.getData()
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                })
            },
            showdialogDetail(row:any){
                this.dialogDetailTable = true;
                this.detailTable = row.detail;
                this.dialogDetailTitle = row.name;
            },
        }
    })
</script>

<style lang="scss" scoped>
</style>