<template>
  <div class="main-component-box">

    <div class="head">
        <div class="left filter-container">
            <el-select v-model="value" placeholder="请选择" size="small" class="ml10 filter-item">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
        </div>
        <div class="right">
            <el-button type="primary" size="small" class="mr10" @click="addData" v-if="value !== 1">添加范文</el-button>
        </div>
    </div>

    <div class="tableBox" v-if="value === 1">
      <myDocuments class="myDocuments" ref="child1"></myDocuments>
    </div>
    <div class="tableBox" v-else>
      <modelEssay class="modelEssay" ref="child2"></modelEssay>
    </div>

  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { mapState } from "vuex";
import myDocuments from "./components/myDocuments.vue";
import modelEssay from "./components/modelEssay.vue";

export default defineComponent({
  components: {
    modelEssay,
    myDocuments,
  },
  name: "files",
  setup() {
    return reactive({
      activeIndex: "1",
      options: [{
        value: 1,
        label: '个人文档'
      }, {
        value: 2,
        label: '街道文件库'
      }],
      value: 2,
      key:''
    });
  },
  data() {
    return {};
  },
  mounted() {
  },
  watch: {
    // $route() {
    //     (this as any).type = (this as any).$route.query.type;
    //     (this as any).component = (this as any).$route.query.component;
    // },
    // component() {
    //     if (this.component == 'coupon') {
    //         this.getData();
    //     }
    // }
  },
  computed: {
    ...mapState({
      parentHeight: (state: any) => state.parentHeight,
    }),
  },
  methods: {
    showDialog() {},
    getData(){
      if(this.value === 1){
        (this as any).$refs.child1.getData(this.key)
      }else{
        (this as any).$refs.child2.getData(this.key)
      }
      
    },
    addData(){
      (this as any).$refs.child2.showDialog()
    }
  },
});
</script>

<style lang="scss" scoped>
.myDocuments,.modelEssay{
    display: flex;flex-direction: column;height: 100%;
}
</style>