<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
            <el-input placeholder="请输入通知内容" v-model="query.key" class="ml10 filter-item" style="width: 200px;" size="small" clearable></el-input>
            <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
            <el-button type="primary" size="small" class="mr10" @click="showDrawer()">添加通知公告</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
            <template  #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="id" label="序号" width="100"></el-table-column>
            <el-table-column prop="title" label="标题">
                <template #default="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.readnametitle" :disabled="!scope.row.readnametitle?true:false" placement="right-start">
                        <span class="title_" :style="{'font-weight':scope.row.isoverdue?200:600}">{{scope.row.isoverdue?'':'【最新】'}}{{scope.row.title}}</span>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column prop="subtitle" label="来文单位"></el-table-column>
            <el-table-column prop="reads" label="已读人数" width="100">
                <template #default="props"><span class="cous" @click="showdialog('dialogTable',props.row.id)">{{props.row.reads||0}}</span></template>
            </el-table-column>
            <el-table-column prop="notice_time" label="来文时间" width="180"></el-table-column>
            <el-table-column prop="intime" label="录入时间" width="180"></el-table-column>
            <el-table-column  label="操作" width="240">
                <template #default="scope">
                    <el-dropdown trigger="click">
                        <el-button type="primary" size="mini" @click="showDrawer(scope.row)">编辑</el-button>
                        <el-dropdown  @command="download">
                            <el-button :type="scope.row.fileListArr.length===0?'info':'primary'" :plain="scope.row.fileListArr.length===0?true:false" :disabled="scope.row.fileListArr.length===0?true:false" size="mini" style="margin: 0 10px;">附件<i class="el-icon-arrow-down el-icon--right"></i></el-button>
                            <template #dropdown>
                                <el-dropdown-menu>
                                <el-dropdown-item v-for="(item,index) in scope.row.fileNameArr" :key='index' :command="scope.row.fileListArr[index]">{{item}}</el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                        <el-popconfirm title="确定要删除该通知公告吗？" confirmButtonText='好的' cancelButtonText='不用了' @confirm="del(scope.row)">
                            <template #reference><el-button type="primary" size="mini" >删除</el-button></template>
                        </el-popconfirm>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 姓名 性别 年龄 职业 联系电话 -->
    <el-drawer :title="id?'编辑':'添加'+'通知'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
        <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="110px" @close="closeDrawer()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '通知标题不能为空'} ]" label="通知标题" prop="title">
                <el-input autocomplete="off" clearable v-model="d.title"></el-input>
            </el-form-item>
            <el-form-item label="来文单位" prop="subtitle">
                <el-input autocomplete="off" clearable v-model="d.subtitle"></el-input>
            </el-form-item>
            <el-form-item label="选择" prop="member_ids">
                <el-tree
                    class="el-tree_"
                    :data="orgOptions"
                    show-checkbox
                    node-key="id"
	                :default-expanded-keys="defaultShowNodes"
                    ref="tree"
                    highlight-current
                    :props="{children:'members',label:'name'}"
                    :default-checked-keys="defaultCheckedKeys"
                    >
                </el-tree>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '通知时间不能为空'} ]" label="通知时间" prop="notice_time">
              <el-date-picker v-model="d.notice_time" type="date" value-format="YYYY-MM-DD" placeholder="选择通知时间"></el-date-picker>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '通知内容不能为空'} ]" label="通知内容" prop="memo" size="small">
                <Tinymce @update:value="valChange" :value="d.memo"/>
            </el-form-item>
            <el-form-item label="文件">
                <el-upload class="upload-demo"
                    :action="uploadHost"
                    :before-upload="handleBeforeUpload"
                    :on-success="(e)=>{fileSuccess(e)}"
                    :file-list="fileList"
                    :before-remove="beforeRemove"
                    multiple
                    limit="10">
                    <el-button size="small" type="primary" v-if="uploadDisabled">点击上传</el-button>
                    <div class="el-upload__tip">只能上传word/excl文件，且不超过20MB</div>
                </el-upload>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="closeDrawer()">取 消</el-button>
                    <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                </div>
            </el-form-item>
        </el-form>
        </div>
    </el-drawer>

   
    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <!-- 表格 -->
        <div v-if="dialogTable.length!=0">
            <el-table :data="dialogTable" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column label="阅读情况">
                    <template #default="scope">
                        <el-tag :type="scope.row.read==''?'danger':'success'">{{scope.row.read==''?'未读':'已读'}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="orgname" label="所属组织"></el-table-column>
                <el-table-column prop="read" label="阅读时间"></el-table-column>
            </el-table>
        </div>
    </el-dialog>
</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import Tinymce from '@/components/Tinymce/index.vue';
    import { noticedownload, uploadHost,filedownload } from '@/utils/utils'

    let nowdate:any = new Date();
    var nowD:any = nowdate.getFullYear() + '-' + (Number(nowdate.getMonth()) + 1) + '-' + nowdate.getDate();

    export default defineComponent({
        name: "member",
        components:{ Tinymce },
        setup() {
            return reactive({
                noticedownload:noticedownload(),
                filedownload:filedownload(),
                drawerFormVisible: false,

                
                dialogImage: '',
                dialogHtml: '',
                dialogTable: [],
                dialogTitle: '',
                dialogVisible: false,

                uploadHost: uploadHost(),
                Removeindex: -1,
                fileList: [], //显示的文件
                filenameArr: [], //上传文件名
                fileReadnameArr: [], //显示文件名
                uploadDisabled: true,

                orglist: [],
                orgOptions: [],

                query: {
                    key: "",
                    type: "", 
                    currentpage: '1',
                    pagesize: '10',
                },
                total: 1,
                tableData: [],

                id: '',
                d: {
                    id: '0',
                    title: '',
                    subtitle: '',
                    notice_time: nowD,
                    member_ids: [],
                    memo: '',
                    attachments_old: '',//原附件
                    attachments: '',
                    readname:'',
                },
                defaultCheckedKeys: [],
                defaultShowNodes: []
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.getData();
            // this.getOrglist();
            this.getOrgMember();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        id: '0',
                        title: '',
                        subtitle: '',
                        notice_time: nowD,
                        member_ids: [],
                        memo: '',
                        attachments_old: '',//原附件
                        attachments: '',
                        readname:'',
                    };
                    this.d = Object.assign({}, d);
                    this.Removeindex = -1;
                    this.fileList = [];
                    this.filenameArr = [];
                    this.fileReadnameArr = [];
                    this.uploadDisabled = true;
                    this.defaultCheckedKeys = [];
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            handleBeforeUpload(files: any) {
                let arr = files.name.split(".");
                let suffix = arr[arr.length - 1];
                let isJPG1 = false;
                if (
                    suffix == "doc" ||
                    suffix == "docx" ||
                    suffix == "xlsx" ||
                    suffix == "xls" ||
                    suffix == "csv"
                ) {
                    isJPG1 = true;
                } else {
                    isJPG1 = false;
                }
                const isLt20M = files.size / 1024 / 1024 < 20;
                if (!isJPG1) {
                    (this as any).$message.error("上传文件只能是 word文档或表格!");
                }
                if (!isLt20M) {
                    (this as any).$message.error("上传文件大小不能超过 20MB!");
                }
                if (isJPG1 && isLt20M) {
                    // (this as any).$loading({title: '上传中...'});
                }
                let name = true;
                if (isJPG1 && isLt20M) {
                    // 判断文件是不是重复
                    if ((this as any).fileReadnameArr.indexOf(files.name)) {
                    // 不存在
                    (this as any).fileReadnameArr.push(files.name);
                    } else {
                        name = false;
                        (this as any).$message.error("文件已存在");
                    }
                }
                return isJPG1 && isLt20M && name;
            },

            fileSuccess(response: any) {
                (this as any).filenameArr.push(response.filename);
                if(this.filenameArr.length >= 9){
                    this.uploadDisabled = false
                }else{
                    this.uploadDisabled = true
                }
            },
            // 删除
            handleRemove(file:any) {
                this.uploadDisabled = true;
                (this as any).Removeindex = (this as any).fileReadnameArr.indexOf(file.name);
                if (this.Removeindex > -1) {
                    this.filenameArr.splice(this.Removeindex, 1);
                    this.fileReadnameArr.splice(this.Removeindex, 1);
                }
            },
            valChange(e: any){
                this.d.memo = e;
            },

            getOrgMember(){
                (this as any).axios.post('manager/organization/member', {currentpage:'1',pagesize:"10000",key:''}, { headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let list:any = JSON.parse(JSON.stringify(d.msg.list));
                            let arr1:any = [];
                            let arr2:any = [];
                            list.map((e:any)=>{
                                e.children = [],
                                e.id.length===2?arr1.push(e):arr2.push(e);
                            });
                            arr2.map((e:any)=>{
                                let v:any = e.id.substring(0,2);
                                arr1.map((ev:any)=>{
                                    if(ev.id===v){
                                        let o:any = {
                                            id: e.id,
                                            name:e.name,
                                            members:e.members
                                        }
                                        ev.children.push(o);
                                    }
                                });
                            });
                            arr1.map((e:any)=>{
                                e.type = 'org';
                                if(e.children){
                                    e.children.map((ev:any)=>{
                                        ev.type = 'org';
                                        e.members.push(ev);
                                        if(ev.members.length===0||!ev.members){
                                            ev.disabled = true;
                                        }
                                    })
                                }
                                if(e.members.length===0||!e.members){
                                    e.disabled = true;
                                }
                            })
                            this.orgOptions = arr1;
                            this.orgOptions.map((ev:any)=>{
                                (this as any).defaultShowNodes.push(ev.id);
                            });
                            console.log(this.orgOptions);
                            
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

            getOrglist() {
                (this as any).axios.post('manager/organization/list', {currentpage:'1',pagesize:"10000",key:''}, { headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            // (this as any).total = d.msg.count;
                            let list:any = JSON.parse(JSON.stringify(d.msg.list));
                            let arr1:any = [];
                            let arr2:any = [];
                            list.map((e:any)=>{
                                e.children = [],
                                e.id.length===2?arr1.push(e):arr2.push(e);
                            });
                            arr2.map((e:any)=>{
                                let v:any = e.id.substring(0,2);
                                arr1.map((ev:any)=>{
                                    if(ev.id===v){
                                        let o:any = {
                                            id: e.id,
                                            name:e.name
                                        }
                                        ev.children.push(o);
                                    }
                                });
                            });
                            this.orglist = JSON.parse(JSON.stringify(arr1));

                            let options:any = [];
                            this.orglist.map((e:any)=>{
                                let option:any = {
                                    checkAll: false,
                                    isIndeterminate: false,
                                    id: e.id||'',
                                    name: e.name||'',
                                    items: e.children||[]
                                };
                                if(!e.children||e.children.length===0){
                                    return;
                                }
                                options.push(option);
                            })
                            this.orgOptions = options;
                            // console.log(this.orgOptions);
                            
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

            getData(){
                let nowtime:any = new Date().getTime();
                let data = (this as any).query
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/notice/list',data,{headers:{token: token}}).then((e:any) =>{
                    if(e.data.success){
                        let list = e.data.msg.list
                        for(let i=0; i<list.length; i++){
                            list[i].readnametitle = list[i].readname;
                            list[i].fileListArr = !list[i].attachments?[]:list[i].attachments.split(",");
                            list[i].fileNameArr = !list[i].readname?[]:list[i].readname.split(",");
                            let notice_time:any = new Date(list[i].notice_time+' 23:59:59').getTime();
                            if(notice_time<nowtime){
                                list[i].isoverdue = true;
                            }else{
                                list[i].isoverdue = false;
                            }

                        }
                        this.tableData = list;
                        this.total = Number(e.data.msg.count)
                    }
                })
            },
            pagechange(val: any) {
                this.query.currentpage = val;
                this.getData();
            },

            showDrawer(row: any=undefined) {
                if(row){
                    this.id = row.id;
                    (this as any).axios.post("manager/notice/get",{ id: row.id },{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
                        if(e.data.success){
                            let data:any = JSON.parse(JSON.stringify(e.data.msg));
                            data.attachments_old = data.attachments;
                            this.defaultCheckedKeys = data.member_ids;
                            // 如下 纯属自己多此一举
                            // let member_ids:any = JSON.parse(JSON.stringify(data.member_ids));
                            // let arr:any = [];
                            // // 检查组织是否满员
                            // this.orgOptions.map((e:any)=>{
                            //     if(e.members){
                            //         let lev_1_mem_length:any = 0;
                            //         let check_1_Num:any = 0;
                            //         e.members.map((ev:any)=>{
                            //             if(ev.type!=='org'){
                            //                 lev_1_mem_length++
                            //             }
                            //             member_ids.map((s_e:any)=>{
                            //                 if(ev.type!=='org'&&ev.id==s_e){
                            //                     check_1_Num++;
                            //                 }
                            //             })
                            //             if(ev.members){
                            //                 let lev_2_men_length:any = ev.members.length;
                            //                 let check_2_Num:any = 0;
                            //                 ev.members.map((evv:any)=>{
                            //                     if(evv.type!=='org'){
                            //                         lev_2_men_length++
                            //                     }
                            //                     member_ids.map((s_e:any)=>{
                            //                         if(evv.type!=='org'&&evv.id==s_e){
                            //                             check_2_Num++;
                            //                         }
                            //                     })
                            //                 })
                            //                 if(check_2_Num===lev_2_men_length){
                            //                     arr.push(ev.id);
                            //                 }
                            //             }
                            //         })
                            //         if(check_1_Num===lev_1_mem_length){
                            //             arr.push(e.id);
                            //         }
                            //     }
                            // })
                            
                            // console.log(arr);
                            // this.defaultCheckedKeys = this.defaultCheckedKeys.concat(arr);
                            console.log(this.defaultCheckedKeys);

                            this.d = data;
                            this.configUploadFile();
                            this.drawerFormVisible = true;
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                }else{
                    (this as any).drawerFormVisible = true;
                }
            },
            // 配置上传回显的数据结构 存在多个上传文件
            configUploadFile() {
                this.fileList = []
                if(this.d.attachments){
                    (this as any).filenameArr = this.d.attachments.split(",");
                    (this as any).fileReadnameArr = this.d.readname.split(",");
                    // 编辑
                    for(let i=0; i<this.filenameArr.length;i++){
                        let obj = {name:'',url:''}
                        obj.name = (this as any).fileReadnameArr[i];
                        obj.url = (this as any).filedownload + this.filenameArr[i];
                        (this as any).fileList.push(obj);
                    }
                }
            },
            handleClose(done:any) {
                this.closeDrawer();
                done();
                return;
            },
            closeDrawer(){
                (this as any).drawerFormVisible = false;
            },
            
            // 查看阅读情况
            showdialog(key:any,id:any){
                if(key==='dialogTable'){
                    (this as any).axios.post('manager/notice/read',{notice_id:id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                                this.dialogTable = list;
                                this.dialogVisible = true;
                            } else {
                                this.dialogTable = [];
                            }
                        }else {
                            this.dialogTable = [];
                        }
                    }) 
                    // this[key] = 
                }
            },
            // 查看附件
            attachments(row:any){
            },
            submitForm(formName: any) {
                let nodes:any = (this as any).$refs.tree.getCheckedNodes();
                if(nodes.length===0||!nodes){
                    (this as any).$message.error('请选择通知对象');
                    return;
                }
                let member_ids:any = [];
                nodes.map((e:any)=>{
                    if(!e.type){
                        member_ids.push(e.id);
                    }
                });
                (this as any).d.member_ids = JSON.stringify(member_ids);
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        data.attachments = this.filenameArr.join(",");
                        data.readname = this.fileReadnameArr.join(",");
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/notice/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 删除
            del(row:any){
                let token = (this as any).$store.state.token;
                (this as any).axios.post('manager/notice/delete',{
                    id: row.id
                },{headers:{token: token}}).then((e:any) =>{
                    if(e.data.success){
                        (this as any).$message({
                        message: '操作成功',
                        type: 'success'
                        });
                        this.getData()
                    }else{
                        (this as any).$message.error(e.data.err);
                    }
                })
            },
            // 下载
            download(name:any){
                let url = this.noticedownload + name
                window.open(url)
            },

        }
    })
</script>

<style lang="scss" scoped>
.title_{cursor: pointer;}
/deep/ .el-form-item__content .el-tree .el-tree-node >.el-tree-node__children{
    display: flex;flex-direction: row;flex-wrap: wrap;
}
/deep/ .el-form-item__content .el-tree .el-tree-node >.el-tree-node__children >.el-tree-node >.el-tree-node__children{
    display: flex;flex-direction: row;flex-wrap: wrap;
}
</style>