<template>
  <div class="main-component-box">
    <div class="head">
      <div class="left filter-container">
        <el-input placeholder="请输入服务中心名称"
          v-model="query.key"
          class="filter-item ml10"
          style="width: 200px;"
          size="small"
          clearable></el-input>
        <el-button type="primary"
          class="ml10 filter-item"
          size="small"
          @click="getData()">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary"
          size="small"
           class="mr10"
          @click="showDialog">添加服务中心</el-button>
      </div>
    </div>

    <!-- 我的服务中心 -->
    <div class="tableBox">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
        <el-table-column prop="name"
          label="服务中心名称">
        </el-table-column>
        <el-table-column prop="address"
          label="位置">
        </el-table-column>
        <el-table-column prop="concat"
          label="联系人">
        </el-table-column>
        <el-table-column prop="phone"
          label="联系电话">
        </el-table-column>
        <el-table-column label='操作'
          width="170">
          <template #default="scope">
              <el-button type="primary" size="mini" @click="showDialog(scope.row,'edit')">编辑</el-button>
              <el-popconfirm title="确定要删除该通知公告吗？" confirmButtonText='好的' cancelButtonText='不用了' @confirm="del(scope.row)">
                  <template #reference><el-button type="primary" size="mini" >删除</el-button></template>
              </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </div>
      <el-pagination class="pagin"
        background
        layout="prev, pager, next"
        :total="total"
        :current-page="query.currentpage"
        @current-change="pagechange">
      </el-pagination>

    <el-dialog :title="dialogType==='edit'?'编辑服务中心':'添加服务中心'"
      v-model="dialogFormVisible">
      <div class="">
        <el-form ref="form_" :model="d" label-width="140px">
          <el-form-item label="党群服务中心名称" prop="name" :rules="[ { required: true, message: '服务中心名称不能为空'} ]">
            <el-input v-model="d.name" size="small" clearable></el-input>
          </el-form-item>
          <el-form-item label="定位" prop="address" size="small">
            <BMap @takeLatAndLng="takeLatAndLng" :lat="d.lat" :lng="d.lon" :value="d.address" @cityName="cityName"></BMap>
          </el-form-item>
          <el-form-item label="具体位置" prop="address">
            <el-input v-model="d.address" size="small" clearable></el-input>
          </el-form-item>
          <el-form-item label="联系人"
            prop="name">
            <el-input v-model="d.concat"
              size="small"
              clearable></el-input>
          </el-form-item>
          <el-form-item label="联系电话"
            prop="name">
            <el-input v-model="d.phone"
              size="small"
              clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="floatRight mr10"
              type="primary"
              @click="submitForm('form_')">确定</el-button>

            <el-button class="floatRight mr10"
              @click="dialogFormVisible=false">取消</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from "vue";
import BMap from "@/components/BMap/index.vue";
import { mapState } from "vuex";
export default defineComponent({
  name: "service",
  components: { BMap },
  setup() {
    return reactive({
      query: {
        key: "", // 名称编号
        currentpage: 1,
        pagesize: 10,
      },
      total: 0,
      loadings: false,
      tableData: [],

      editData: [
        { value: "1", label: "编辑" },
        { value: "2", label: "删除" },
      ],

      dialogType: "edit", //编辑或添加
      dialogFormVisible: false, //抽屉显示隐藏
      d: {
        id: 0,
        name: "",
        address: "",
        lat: "",
        lon: "",
        concat: "",
        phone: "",
      },
      id: "",
      fileList: [],
    });
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      parentHeight: (state: any) => state.parentHeight,
    }),
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      (this as any).query.state = (this as any).state;
      let data = (this as any).query;
      console.log(data);
      let token = (this as any).$store.state.token;
      (this as any).axios
        .post("manager/service/list", data, { headers: { token: token } })
        .then((e: any) => {
          console.log("获取数据");
          console.log(e);
          if (e.data.success) {
            this.tableData = e.data.msg.list;
            this.total = Number(e.data.msg.count);
          }
        });
    },
    search() {},

    // 关闭抽屉
    handleClose(done: any) {
      (this as any)
        .$confirm("确认关闭？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          this.closeDialog();
          done();
        })
        .catch(() => {});
    },
    // 编辑
    showDialog(row: any = undefined, dialogType: string) {
      console.log(row);
      this.dialogFormVisible = true;
      this.dialogType = dialogType;
      if (dialogType === "edit") {
        console.log("编辑");
        this.id = row.id;
        // this.
        let token = (this as any).$store.state.token;
        (this as any).axios
          .post(
            "manager/service/get",
            {
              id: this.id,
            },
            { headers: { token: token } }
          )
          .then((e: any) => {
            console.log(e)
            if (e.data.success) {
              this.d = e.data.msg;
            }
          });
      } else {
        this.d = {
          id: 0,
          name: "",
          address: "",
          lat: "",
          lon: "",
          concat: "",
          phone: "",
        };
      }
    },
    // 完成
    submitForm(formName: string) {
      // this.d.merchant_id = Number(this.d.merchant_id);
      // return;
      if (this.id) {
        // 编辑
        (this as any).d.id = Number((this as any).id);
      }
      (this as any).$refs[formName].validate((valid: any) => {
        if (valid) {
          let data: any = Object.assign({}, this.d);
          console.log(data);
          (this as any).axios
            .post("manager/service/design", data, {
              headers: { token: (this as any).$store.state.token },
            })
            .then((t: any) => {
              if (t.status == 200) {
                if (t.data.success) {
                  this.closeDialog();
                  (this as any).$message.success("成功");
                  this.getData();
                } else {
                  (this as any).$message.error(t.data.err);
                }
              } else {
                (this as any).$message.error("请求失败");
              }
            });
        }
      });
    },
    del(row: any = undefined) {
      (this as any).axios
        .post(
          "manager/service/delete",
          { id: row.id },
          {
            headers: { token: (this as any).$store.state.token },
          }
        )
        .then((t: any) => {
          console.log(t);
          if (t.data.success) {
            this.closeDialog();
            (this as any).$message.success("成功");
            this.getData();
          } else {
            (this as any).$message.error(t.data.err);
          }
        });
    },
    closeDialog() {
      this.dialogFormVisible = false;
      let d: any = {
        id: "",
      };
      this.d = Object.assign({}, d);
    },
    composeValue(item: any, row: any) {
      return {
        button: item,
        row: row,
      };
    },
    handlePreview() {},
    handleRemove() {},
    beforeRemove() {},
    handleExceed() {},
    takeLatAndLng(val: any) {
      (this as any).d.lat = val.lat; // 纬度
      (this as any).d.lon = val.lng; // 经度
    },
    cityName(e: any) {
      this.d.address = e.city;
    },
    pagechange(val: any) {
      console.log(val);
      this.query.currentpage = val;
      this.getData();
    },
  },
});
</script>
<style lang='scss' scoped>
</style>