<template>
  <div class="bmap">
    <div class="box">
      <el-input placeholder="按城市 / 地区查询" v-model="val" clearable style="width: 200px" size="small"></el-input>
      <el-button type="primary" size="small" style="margin-left: 10px" @click="search">查询</el-button>
    </div>
    <div class="box" >
      <!-- <span>您点击的经纬度 ： {{lngNumber ||""}} {{latNumber&&lngNumber?'~':''}} {{latNumber || ''}} </span> -->
      <span style="color:#999;font-size:12px;">备注：请拖拽标注点到指定位置或双击指定位置</span>
    </div>
    <div id="allmap" :style="style"></div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'BMap',
    props: {
      // 样式-自定义传入
      style:{
        type:String,default:"width:100%;height:400px"
      },
      // 纬度
      lat: {
        type: String,
        default: '39.897445'
      },
      // 经度
      lng:{
        type: String,
        default: '116.331398'
      },
      // 缩放等级
      scale:{
        type:Number,default:20
      }
    },
    data(){
      return {
        map:undefined,
        val:"",
        scaleLevel:20, // 缩放等级
        latNumber:0,
        lngNumber:0,
      }
    },
    mounted() {
      (this as any).scaleLevel = (this as any).scale; // 缩放等级
      (this as any).latNumber = Number((this as any).lat ||  '39.897445');
      (this as any).lngNumber = Number((this as any).lng|| '116.331398');
      console.log(Number( (this as any).lngNumber),Number((this as any).latNumber),(this as any).lat,(this as any).lng)
      // 百度地图API功能
      let map:any = new (window as any).BMap.Map("allmap");
      map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
      let point:any = new (window as any).BMap.Point(Number( (this as any).lngNumber),Number((this as any).latNumber));
      map.centerAndZoom(point, (this as any).scaleLevel);
      (this as any).map = map;

      (this as any).map.addEventListener('dblclick',(e:any)=>{
        console.log(e);
        let pt:any = e.point;
        (this as any).latNumber = pt.lat;
        (this as any).lngNumber = pt.lng;
        (this as any).$emit("takeLatAndLng",{lat:pt.lat,lng:pt.lng})
      });
    },
    watch:{
      lat(){
        (this as any).latNumber = Number((this as any).lat);
        (this as any).lngNumber = Number((this as any).lng);
        // 百度地图API功能
        let map:any = new (window as any).BMap.Map("allmap");
        map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
        let point:any = new (window as any).BMap.Point(Number( (this as any).lngNumber),Number((this as any).latNumber));
        map.centerAndZoom(point, (this as any).scaleLevel);
        (this as any).map = map;
        //// 创建标注
        let marker:any = new (window as any).BMap.Marker(point,{enableDragging: true});
        (this as any).map.addOverlay(marker);// 将标注添加到地图中

        marker.addEventListener('dragend',(e:any)=>{
          console.log(e);
          let pt:any = e.point;
          (this as any).latNumber = pt.lat;
          (this as any).lngNumber = pt.lng;
          (this as any).$emit("takeLatAndLng",{lat:pt.lat,lng:pt.lng})
        });

        (this as any).map.addEventListener('dblclick',(e:any)=>{
          console.log(e);
          let pt:any = e.point;
          (this as any).latNumber = pt.lat;
          (this as any).lngNumber = pt.lng;
          (this as any).$emit("takeLatAndLng",{lat:pt.lat,lng:pt.lng})
        });
      },
    },
    methods:{
      // 按城市名称查询
      search(){
        const vm:any = this;
        if(vm.val===''){
          vm.$message.error('请输入城市/地区名称');return;
        }
        console.log(vm.val);
        vm.map.centerAndZoom(vm.val, vm.scaleLevel);
      }
    }
  }
</script>

<style scoped lang="scss">
  #allmap {

    padding-top: 10px;
  }

  #r-result {
    width: 100%;
    font-size: $font-size-14;
  }

  .gray-bg {
    background-color: #ffffff;
  }
  .box{
    width: 400px;text-align: left;
  }
</style>