<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入办文名称"
          v-model="query.key"
          class="ml10 filter-item"
          style="width: 200px;"
          size="small"
          clearable></el-input>
          <el-cascader :ref="'cascader10000'" class="ml10 filter-item" size="small" :options="cascaderoptions" :props="{value:'id',label:'name',children:'list',expandTrigger:'hover',checkStrictly:true,lazy:true,lazyLoad}" :show-all-levels="false" clearable v-model="query.org_id" @change='(e)=>{querycascaderChange(e,true)}' ></el-cascader>
        <el-button type="primary"
          class="ml10 filter-item"
          size="small"
          @click="search">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary"
          size="small"
          class="mr10"
          @click="showDrawer">添加办文</el-button>
      </div>
    </div>
    <!--列表-->
    <div class="tableBox">
        <el-table :data="tableData" border style="width: 100%;height:100%;" class="table">
          <template #empty>
            <span style="color: #969799;">没有更多数据</span>
          </template>
          <el-table-column prop="title"
            label="标题"></el-table-column>
          <el-table-column prop="doc_time"
            label="下发时间" width="150"></el-table-column>
          <el-table-column prop="source"
            label="下发人" width="200"></el-table-column>
          <el-table-column prop="org_name"
            label="所属组织" width="200"></el-table-column>
          <el-table-column prop="reads" label="已读人数" width="100">
            <template #default="props"><span class="cous" @click="showdialog('dialogTable',props.row.id)">{{props.row.reads||0}}</span></template>
          </el-table-column>
          <!-- <el-table-column prop="readname" label="附件"></el-table-column> -->
          <el-table-column label="办文状态" width="140">
            <template #default="stateScope">
              <el-tag v-if="stateScope.row.result=='0'" type="danger">未通过</el-tag>
              <el-tag v-if="!stateScope.row.approve_id||stateScope.row.approve_type==='6'" type="success">已通过</el-tag>
              <el-tag v-if="stateScope.row.state=='0'&&stateScope.row.approve_type!=='6'">{{(leaves[stateScope.row.approve_type]+'审核中...')||'--'}}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="审批意见" width="120">
            <template #default="scope">
                <el-button type="primary" plain size="mini" @click="showdialog('dialogTable1',scope.row.detail)">审批意见</el-button>
                
            </template>
          </el-table-column>

          <el-table-column label="操作" width="240">
            <template #default="scope">
              <el-dropdown trigger="click">
                <el-button type="primary" size="mini" @click="showDrawer(scope.row)">编辑</el-button>
                <el-dropdown @command="download" v-if="!!scope.row.fileNameArr">
                    <el-button type="primary" size="mini" style="margin: 0 10px;">附件<i class="el-icon-arrow-down el-icon--right"></i></el-button>
                    <template #dropdown>
                        <el-dropdown-menu>
                        <el-dropdown-item v-for="(item,index) in scope.row.fileNameArr"
                            :key='index' :command="scope.row.fileListArr[index]">{{item}}</el-dropdown-item>
                        </el-dropdown-menu>
                    </template>
                </el-dropdown>
                <el-popconfirm title="确定要删除改办文吗？"
                  confirmButtonText='好的'
                  cancelButtonText='不用了'
                  @confirm="del(scope.row)">
                  <template #reference>
                    <el-button type="primary"
                      size="mini">删除</el-button>
                  </template>
                </el-popconfirm>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>
      </div>
        <el-pagination class="pagin"
          background
          layout="prev, pager, next"
          :total="total"
          :current-page="query.currentpage"
          @current-change="pagechange"></el-pagination>
    <!--编辑组织-->
    <el-drawer :title="id?'编辑':'添加'+'办文'"
      :size="'50%'"
      v-model="drawerFormVisible"
      :direction="'rtl'"
      :before-close="handleClose"
      destroy-on-close>
      <submitForm v-if="drawerFormVisible===true"
        ref="submitForm"
        :uploadHost="uploadHost"
        :form="formRenderis.documentForms"
        :rules="formRenderis.documentRules"
        :renderForms="formRenderis.documentRenderForms"
        @imgPreview="imgPreview"
        @cascaderChange="cascaderChange"
        @cancel="cancel"
        @confirm="confirm">
      </submitForm>
    </el-drawer>

    
    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <!-- 表格 -->
        <div v-if="dialogTable.length!=0">
            <el-table :data="dialogTable" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="orgname" label="所属组织"></el-table-column>
                <el-table-column label="阅读情况">
                    <template #default="scope">
                        <el-tag :type="scope.row.read==''?'danger':'success'">{{scope.row.read===''?'未读':'已读'}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="read" label="阅读时间"></el-table-column>
            </el-table>
        </div>
        <div v-if="dialogTable1.length!=0">
            <el-table :data="dialogTable1" border style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="领导"></el-table-column>
                <el-table-column prop="memo" label="审批意见"></el-table-column>
                <el-table-column prop="intime" label="审批时间">
                    <template #default="scope">
                        <span>{{scope.row.intime.substring(0,19)}}</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-dialog>

    <el-dialog :title="dialogTitle"
      v-model="dialogShow"
      width="50%"
      :before-close="handleClose">
      <div v-if="dialogClassify==='c7'"
        class="block">
        <el-timeline>
          <el-timeline-item v-for="(v,i) in activities"
            :key="i"
            :timestamp="v.timestamp"
            placement="top">
            <el-card>
              <h4>文件意见</h4>
              <p>{{v.content}}</p>
            </el-card>
          </el-timeline-item>
        </el-timeline>
      </div>
      <div v-if="dialogClassify==='c8'">
        <el-table :data="conditionList" border style="width: 100%" class="">
          <template #empty>
            <span style="color: #969799;">没有更多数据</span>
          </template>
          <el-table-column prop="name"
            label="姓名"></el-table-column>
          <el-table-column prop="type"
            label="已读情况">
            <template #default="scope">
              <span>{{scope.row.type === true?'已读':'未读'}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div v-if="dialogClassify==='c9'">
        <el-table :data="conditionList" border style="width: 100%" class="">
          <template #empty>
            <span style="color: #969799;">没有更多数据</span>
          </template>
          <el-table-column prop="name"
            label="姓名"></el-table-column>
          <el-table-column prop="type"
            label="参与情况">
            <template #default="scope">
              <span>{{scope.row.type === true?'已参与':'未参与'}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { mapState } from "vuex";
import {
  uploadHost,
  getDate,
  parseDate2Str,
  documentdownload,
} from "@/utils/utils";
import formRenderis from "@/utils/form_renderis";
import submitForm from "@/components/submitForm/index.vue"; //编辑/新增表单组件

export default defineComponent({
  name: "document",
  components: { submitForm },
  setup() {
    return reactive({
      documentdownload:documentdownload(),
      transferData: [],
      transferValue: [1, 4],
      drawerFormVisible: false,
      dialogListVisible: false,
      recordDrawerFormVisible: false,
      formRenderis,
      uploadHost: uploadHost(),
      getDate: getDate(false),
      
      query: {
        org_id: "",
        key: "",
        currentpage: "1",
        pagesize: "10",
      },
      total: "1",
      tableData: [],

      dialogImage: '',
      dialogHtml: '',
      dialogTable: [],
      dialogTable1: [],
      dialogTitle: '',
      dialogVisible: false,

      dialogShow: false,
      dialogClassify: "",
      activities: [
        {
          content: "活动按期开始",
          timestamp: "2018-04-15",
        },
        {
          content: "通过审核",
          timestamp: "2018-04-13",
        },
        {
          content: "创建成功",
          timestamp: "2018-04-11",
        },
      ],
      conditionList:[{
        name:'张三',
        type: true
      },{
        name:'李四',
        type: false
      },{
        name:'王五',
        type: false
      }],
      leaves: {
        0:'工作人员',
        1:'普通党员',
        2:'科室领导',
        3:'分管领导',
        4:'街道主要领导',
        // 5:'街道书记',
        // 6:'承办人'
      },
      states: {
        0: '待处理',
        1: '已处理'
      },
      cascaderoptions: []
    });
  },
  data() {
    return {};
  },
  created() {
    // this.generateData();
    // this.date();

  },
  mounted() {
    this.getData()
  },
  watch: {
    
      dialogVisible(v:any) {
          if(v===false){
            this.dialogTable = [];
            this.dialogTable1 = [];
          }
      },
  },
  computed: {
    ...mapState({
      parentHeight: (state: any) => state.parentHeight,
      username2: (state: any) => state.username,
    }),
  },
  methods: {
    // 多级联动
    querycascaderChange(value: any,checkStrictly: any) {
      // 选择之后将下拉界面收起
      if (checkStrictly) {
        (this as any).$refs["cascader10000"].togglePopperVisible();
      }
    },
      lazyLoad(node:any,resolve:any){
        const { level } = node;
        // console.log(node);
        // console.log(resolve);
        setTimeout(() => {
          let token = (this as any).$store.state.token;
          (this as any).axios.post('manager/org/list',{id:node.value||''},{headers: {token: token}}).then((e: any) => {
              // console.log(e);
              if(e.status === 200){
                  let d:any = e.data;
                  if(d.success){
                    let arr:any = d.msg.list;
                    const nodes = arr;
                    // console.log(nodes);
                    // 通过调用resolve将子节点数据返回，通知组件数据加载完成
                    resolve(nodes);
                  }else{
                      (this as any).$message.error(e.data.err);
                  }
              }
          }).catch(()=>{})
        }, 50);
      },
    cascaderChange(e:any){
      if(e.key==='org_id'){
        let oriId:any = e.value[e.value.length-1];
        this.formRenderis.documentForms.approve_user4_org = e.value;
        console.log(this.formRenderis.documentForms);
        
        if(e.value&&e.value.legth!=0&&e.value!='0'){
          (this as any).getofficial(1,oriId);
        }else{
          this.formRenderis.documentRenderForms[4].show = false;
          this.formRenderis.documentRenderForms[5].show = false;
          this.formRenderis.documentRenderForms[6].show = false;
          this.formRenderis.documentRenderForms[7].show = false;
          this.formRenderis.documentRenderForms[8].show = false;
        }
      }else if(e.key==='approve_user4_org'){
        let orid:any = e.value[e.value.length-1];
        this.getAllUser(orid);
      }
      
    },
    // 获取组织所有人
    getAllUser(orid:any){
        (this as any).axios.post("manager/organization/official",{type:'0',org_id:orid},{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
          console.log(e)
          if(e.data.success){
            let arr:any = e.data.msg.list;
            let a:any = []
            for (let i = 0; i < arr.length; i++) {
              const o:any = arr[i];
              let obj:any = {
                label: o.name,
                value: o.id
              }
              a.push(obj)
            }
            this.formRenderis.documentRenderForms[8].options = a;
          }else{}
        }).catch((err:any)=>{
        })
    },
    // 获取领导
    getofficial(type:any,org_id:any){
      let orgId:any = (org_id.length>2&&type>1)?org_id.substring(0,2):org_id;
      (this as any).axios.post("manager/organization/official",{type:type,org_id:orgId},{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
        console.log(e)
        if(e.data.success){
          let arr:any = e.data.msg.list;
          let a:any = []
          for (let i = 0; i < arr.length; i++) {
            const o:any = arr[i];
            let obj:any = {
              label: o.name,
              value: o.id
            }
            a.push(obj)
          }
          this.formRenderis.documentRenderForms[+type+3].options = a;
          if(type===1){
            this.getAllUser(orgId);
          }
          
        }else{}
        if(type>=3){
          this.formRenderis.documentRenderForms[4].show = true;
          this.formRenderis.documentRenderForms[5].show = true;
          this.formRenderis.documentRenderForms[6].show = true;
          this.formRenderis.documentRenderForms[7].show = true;
          this.formRenderis.documentRenderForms[8].show = true;
          return;
        }
        type++;
        (this as any).getofficial(type,org_id);
      }).catch((err:any)=>{
					(this as any).getofficial(type,org_id);
      })
    },
    getData(){
      let data:any = JSON.parse(JSON.stringify(this.query));
      let org_id:any = '';
      if(!!(this as any).query.org_id){
        if(this.query.org_id.length!==0&&typeof(this.query.org_id)==='object'){
            org_id = this.query.org_id[(this as any).query.org_id.length-1];
        }else{
          org_id = ''
        }
      }
      data.org_id = org_id;
      console.log(data);
      (this as any).axios.post("manager/document/list",data,{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
        console.log(e)
        if(e.data.success){
          let list = e.data.msg.list
          for(let i=0; i<list.length; i++){
              list[i].fileListArr = !list[i].attachments.split(",")[0]?null:list[i].attachments.split(",")
              list[i].fileNameArr = !list[i].readname.split(",")[0]?null:list[i].readname.split(",")
          }
          this.tableData = list;
          (this as any).total = Number(e.data.msg.count)
        }
      })
    },
    generateData() {
      const data = [];
      for (let i = 1; i <= 15; i++) {
        data.push({
          key: i,
          label: `党员 ${i}`,
          disabled: i % 4 === 0,
        });
      }
      (this as any).transferData = data;
    },
    switchChange(e: any, row: any) {
      console.log(e);
      console.log(row);
      if (row.c6 === true) {
        (this as any)
          .$confirm("是否正式下发办文", "下发办文", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          })
          .then(() => {
            (this as any).$message({
              type: "success",
              message: "下发成功!",
            });
          })
          .catch(() => {
            row.c6 = false;
          });
      } else {
      }
    },
    // 获取当前时间
    date() {
      // this.formRenderis.documentForms.c2 = this.getDate;
    },
    // 显示弹出
    showDrawer(row: any = undefined) {
      this.formRenderis.documentForms = row;
      if(row.id){
        this.formRenderis.documentRenderForms[3].show = false;
        (this as any).axios.post("manager/document/get",{ id: row.id },{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
            if(e.data.success){
                let list = e.data.msg
                list.fileListArr = list.attachments.split(",")
                list.fileNameArr = list.readname.split(",")
                list.id = row.id 
                list.attachments_old = row.attachments
                this.formRenderis.documentForms = list
          }else{}
        })
      }else{
        this.formRenderis.documentRenderForms[3].show = true;
        this.formRenderis.documentForms =  {
          id: '0',
          title: '',
          source: this.username2,
          doc_time: '',
          memo: '',
          attachments_old: '',
          attachments: '',
          readname: '',
          org_id: 0,
          approve_user1:"",
          approve_user2:"",
          approve_user3:"",
          approve_user4_org:"",
          approve_user4:""
        }
      }
      (this as any).drawerFormVisible = true;
    },
    showRecordDialog() {
      (this as any).dialogListVisible = true;
    },
    showRecordDrawer() {
      (this as any).recordDrawerFormVisible = true;
    },
    handleClose(done: any) {
      this.closeDrawer();
      done();
      return;
      (this as any)
        .$confirm("确认关闭？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          this.closeDrawer();
          done();
        })
        .catch(() => {});
    },
    closeDrawer() {
      (this as any).drawerFormVisible = false;
        this.formRenderis.documentRenderForms[4].show = false;
        this.formRenderis.documentRenderForms[5].show = false;
        this.formRenderis.documentRenderForms[6].show = false;
        this.formRenderis.documentRenderForms[7].show = false;
        this.formRenderis.documentRenderForms[8].show = false;
        this.formRenderis.documentRenderForms[4].options = [];
        this.formRenderis.documentRenderForms[5].options = [];
        this.formRenderis.documentRenderForms[6].options = [];
        this.formRenderis.documentRenderForms[7].options = [];
        this.formRenderis.documentRenderForms[8].options = [];

    },
    closeDialog() {
      (this as any).dialogListVisible = false;
    },
    // 查看阅读情况
    showdialog(key:any,data:any){
        if(key==='dialogTable'){
          (this as any).axios.post('manager/document/read',{document_id:data},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
              if (t.status == 200) {
                  if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      this.dialogTable = list;
                      this.dialogVisible = true;
                  } else {
                      this.dialogTable = [];
                  }
              }else {
                  this.dialogTable = [];
              }
          })
        }else if(key==='dialogTable1'){
          console.log(data);
          if(data){
            this.dialogTable1 = [];
            data.map((e:any)=>{
              if(e.member_type !='6'){
                (this as any).dialogTable1.push(e);
              }
            })
            this.dialogVisible = true;
          }else{
            (this as any).$message.error('暂无审批意见或者没有领导需要审核');
          }
        }
    },
    confirm(row: any) {
      let data:any = JSON.parse(JSON.stringify(row.form));
      data.doc_time = parseDate2Str(row.doc_time)
      if(!data.title || !data.memo){
        (this as any).$message.error('输入框不能为空');
        return
      }
      
      let org_id:any = 0;
      if(row.form.org_id!==0&&row.form.org_id.length!==0&&typeof(row.form.org_id)==='object'){
          org_id = row.form.org_id[row.form.org_id.length-1];
      }else{
        org_id = !row.form.org_id?0:row.form.org_id
      }
      data.org_id = org_id;
      console.log(data);
      (this as any).axios.post("manager/document/design",data,{headers: { token: (this as any).$store.state.token },}).then((e: any) => {
        console.log(e)
        if(e.data.success){
          (this as any).$message.success('操作成功');
          (this as any).getData();
          this.closeDrawer();
        }else{
          (this as any).$message.error(e.data.err)
        }
      })
    },
    cancel() {
      this.closeDrawer();
    },
    dialogChange(e: string, row: any) {
      this.dialogShow = !this.dialogShow;
      console.log(e);
      if (e == "c7") {
        // 领导意见
        this.dialogTitle = "领导意见";
        this.dialogClassify = "c7";
      } else if (e == "c8") {
        // 已读情况
        this.dialogTitle = "已读情况";
        this.dialogClassify = "c8";
      } else {
        // 参与情况
        this.dialogClassify = "c9";
        this.dialogTitle = "参与情况";
      }
    },
    // 删除
    del(row:any){
        let token = (this as any).$store.state.token;
        (this as any).axios.post('manager/document/delete',{
            id: row.id
        },{headers:{token: token}}).then((e:any) =>{
            console.log('删除数据')
            console.log(e)
            if(e.data.success){
                (this as any).$message({
                message: '操作成功',
                type: 'success'
                });
                this.getData()
            }else{
                (this as any).$message.error(e.data.err);
            }
        })
    },
    // 下载
    download(name:any){
      let url = this.documentdownload + name
      console.log(url)
      window.open(url)
    },
    search(){
      this.getData()
    },
    pagechange(val: any) {
        this.query.currentpage = val.toString();
        this.getData()
    },
},
});
</script>

<style lang="scss" scoped>
/deep/ .el-transfer .el-checkbox__label {
  padding-left: 20px !important;
}
.block {
  text-align: left;
}
</style>