/* 改变主题色变量 */ 
$--color-primary: #3d8eff; 
/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-plus/theme-chalk/fonts"; 
// @import "~element-plus/packages/theme-chalk/src/index";


/* dejavu自定义  用于其他非element ui组件的样式  可以和
-------------------------- */
/* 一、颜色 */
/* 文字颜色 */
$font-main-color: #3d8eff !default;//主色
$font-light-color: #4b94fa !default;//主色 浅
$font-weaklight-color: #e7f1ff !default;//主色 极浅
$font-warning-color: #ff635b !default;//警告色
$font-success-color: #67c23a !default;//安全色 绿色
$font-normal-color: #333 !default;//主题色 常用文字颜色 黑
$font-grey-color: #999 !default;//副标题色 灰
$font-weak-color: #ccc !default;//弱文案 浅灰
$font-white-color: #fff !default;//白色

/* 背景色 */
$bg-main-color: #3d8eff !default;//主色
$bg-light-color: #4b94fa !default;//主色 浅
$bg-weaklight-color: #e7f1ff !default;//主色 极浅
$bg-warning-color: #ff635b !default;//警告色
$bg-success-color: #67c23a !default;//安全色 绿色
$bg-white-color: #fff !default;//白色
$bg-weak-color: #f5f5f5 !default;//弱色 浅灰

/* 风格线/条 */
$line-color: #eee !default;//分割线
$strip-color: #f5f5f5 !default;//分割条

/* 蒙层 */
$mask-bg-color: rgba(0,0,0,0.55) !default;//蒙版背景


/* 二、字体 */
$font-size-12: 12px !default;
$font-size-14: 14px !default;
$font-size-16: 16px !default;
$font-size-20: 20px !default;
$font-size-24: 24px !default;