<template>
  <div class="edit">
      <el-form ref="dataForm" :rules="rules" :model="form" label-width="120px">
        <el-form-item v-for="(v,i) in renderForms" :key="i" :prop="v.type==='custom'?'':v.key" :label="v.type==='custom'?'':v.title" :label-width="v.type==='custom'?'0px':'130px'" :style="{display:v.show===false?'none':'flex'}">
            <el-input v-if="v.type==='input'" :type="v.inputType" class="filter-item" :placeholder="v.placeholder" v-model="form[v.key]" show-word-limit :minlength="v.minlength" :maxlength="v.maxlength" :max="v.maxlength" :disabled="v.disabled||false"></el-input>
            <el-input-number v-if="v.type==='inputNumber'" v-model="form[v.key]" :min="1" :max="10" label="描述文字"></el-input-number>
            <el-rate v-if="v.type==='rate'" class="filter-item" v-model="form[v.key]" :allow-half="v.allowHalf"></el-rate>
            <el-select v-if="v.type==='select'" class="filter-item" clearable :multiple="v.multiple" :allow-create="v.allowCreate" :filterable="v.filterable" :placeholder="v.placeholder" v-model="form[v.key]" @change="(e)=>selectChange(e,v.key,v.options)">
                <el-option v-for="item in v.options" :key="item.value" :label="item.label" :value="`${item.value}`" />
            </el-select>
            <el-switch v-if="v.type==='switch'" class="filter-item" v-model="form[v.key]" :active-value="`${v.activevalue}`" :inactive-value="`${v.inactivevalue}`" :active-text="v.activetext" :inactive-text="v.intext"></el-switch>
            <el-checkbox v-if="v.type==='checkbox'" class="filter-item" :indeterminate="isIndeterminate" v-model="checkAll" @change="(e)=>handleCheckAllChange(e,v.key,v.options)">全选</el-checkbox>
            <el-checkbox-group v-if="v.type==='checkbox'" class="filter-item" v-model="form[v.key]" @change="(e)=>handleCheckedCitiesChange(e, v.options)">
                <el-checkbox v-for="item in v.options" :label="item" :key="item">{{item}}</el-checkbox>
            </el-checkbox-group>
              
            <el-radio-group v-if="v.type==='radio'" v-model="form[v.key]" @change="(e)=>radioChange(e,v.options)">
              <el-radio class="filter-item" v-for="(item,index) in v.options" :key='index' :label="`${index}`">{{item}}</el-radio>
            </el-radio-group>
            
            <el-time-select v-if="v.type==='time'" class="filter-item" v-model="form[v.key]" :picker-options="{ start: '00:00', step: '00:15', end: '24:00' }" placeholder="选择时间"> </el-time-select>
            <el-date-picker v-if="v.type==='date'" class="filter-item" v-model="form[v.key]" type="date" format="YYYY-MM-DD" placeholder="选择日期"> </el-date-picker>
            <el-date-picker v-if="v.type==='dateTime'" class="filter-item" v-model="form[v.key]" type="datetimerange" format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
            <el-upload
              v-if="v.type==='upload'"
              class="upload-demo no-transition"
              :action="uploadHost"
              list-type="picture-card"
              :file-list="fileLists[v.key]"
              :on-success="(e)=>{uploadSuccess(e,v.key,i)}"
              :before-upload="handleBeforeUpload"
              :limit="v.limit"
              :multiple='false'
              style="{text-align: center}">
              <template #default><i class="el-icon-plus"></i></template>
              <template #file="{file}">
                  <div style="width:100%;height:100%;">
                      <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                      <span class="el-upload-list__item-actions">
                          <span class="el-upload-list__item-preview" @click="imgPreview(file)">
                              <i class="el-icon-zoom-in"></i>
                          </span>
                          <span  class="el-upload-list__item-delete">
                              <i class="el-icon-delete" @click="delImg(file,v.key,i)"></i>
                          </span>
                      </span>
                  </div>
              </template>
            </el-upload>
            <!-- 上传文件 -->
          <el-upload class="upload-demo"
            v-if="v.type==='file'"
            :action="uploadHost"
            :before-upload="fileUpload"
            :on-success="(e)=>{fileSuccess(e,v.key,i)}"
            :file-list="fileList"
            :before-remove="beforeRemove"
            multiple
            limit="10">
            <el-button size="small"
              type="primary" v-if="upBtnShow">点击上传</el-button>
            <div class="el-upload__tip">只能上传word/excl文件，且不超过20MB</div>
          </el-upload>
            <!-- 多级联动 -->
            <el-cascader class="el-cascader-de" v-if="v.type==='cascader'" :ref="'cascader'+v.key" :options="v.options" :props="{value:'id',label:'name',children:'list',expandTrigger:'hover',expandTrigger: 'hover',checkStrictly:v.checkStrictly?v.checkStrictly:false,lazy:true,lazyLoad}" :show-all-levels="v.showalllevels==false?false:true" :clearable="v.clearable||false" v-model="form[v.key]" @change='(e)=>{cascaderChange(e,v.key,v.checkStrictly)}' ></el-cascader>
            <!-- 自定义内容 -->
		        <slot v-if="v.type==='custom'" v-bind:datadsf="datadsf" name="content"></slot>
            <Tinymce v-if="v.type==='tinymce'" @update:value="valChange" :value="form[v.key]"/>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="cancel()"  >取 消</el-button>
                <el-button type="primary" @click="confirm('from')" >确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { uploadHost, imagesDisplayHost, filedownload, } from "@/utils/utils";
import Tinymce from "@/components/Tinymce/index.vue";
export default defineComponent({
  name: "submitForm",
  components: { Tinymce },
  inject: ["reload"], //注入
  props: {
    uploadHost: {
      type: String,
      default: function () {
        return "";
      },
    },
    renderForms: {
      type: Array,
      default: function () {
        return [];
      },
    },
    form: {
      type: Object,
      default: function () {
        return {};
      },
    },
    rules: {
      type: Object,
      default: function () {
        return {};
      },
    },
    dialogStatus: {
      type: String,
      departFocus: function () {
        return "create";
      },
    },
  },
  setup() {
    return reactive({
      filedownload:filedownload(),
      uploadHost: uploadHost(),
      imagesDisplayHost: imagesDisplayHost(),
      checkAll: false,
      isIndeterminate: true,
      dialogImageUrl: "",
      dialogVisible: false,
      disabled: false,
      fileLists: [],
      memo: "",
      fileList: [], //显示的文件
      filenameArr: [], //上传文件名
      fileReadnameArr: [], //显示文件名
      index: -1,
      upBtnShow: true,
    });
  },
  created() {
  },
  mounted() {
    console.error(this.form);
    this.configUploadFile(this.form);
    (this as any).$nextTick(() => {
      (this as any).$refs["dataForm"].clearValidate();
    });
    setTimeout(()=>{
      this.setStyle();
    },50);
  },
  methods: {
    // 配置上传回显的数据结构 存在多个上传文件
    configUploadFile(form: any) {
      if(form.id){
          this.fileList = []
        if(form.attachments){
          this.filenameArr = form.attachments.split(",")
          this.fileReadnameArr = form.readname.split(",")
          // 编辑
          for(let i=0; i<this.filenameArr.length;i++){
            let obj = {
              name:'',
              url:''
            }
            obj.name = this.fileReadnameArr [i];
            obj.url = this.filedownload + this.filenameArr[i];
            (this as any).fileList.push(obj);
          }
            console.log(this.fileList)
        }
      }
    },
    handleCheckAllChange(val: any, key: any, options: any) {
      (this as any).form[key] = val ? options : [];
      (this as any).isIndeterminate = false;
    },
    handleCheckedCitiesChange(value: any, options: any) {
      let checkedCount = value.length;
      (this as any).checkAll = checkedCount === options.length;
      (this as any).isIndeterminate =
        checkedCount > 0 && checkedCount < options.length;
    },
    selectChange(value: any, key: any, options: any){
      this.$emit("selectChange", {value:value,key:key,options:options});
    },
    radioChange(value: any, options: any) {
      console.log("单选");
      console.log(value);
      console.log(options);
    },
    // 多级联动
    cascaderChange(value: any, key: any, checkStrictly: any) {
			let label = (this as any).$refs['cascader'+key].getCheckedNodes()[0].text||(this as any).$refs['cascader'+key].getCheckedNodes()[0].label;
      this.$emit("cascaderChange", {value:value,key:key,checkStrictly:checkStrictly,label:label});
      // 选择之后将下拉界面收起
      if (checkStrictly) {
        (this as any).$refs["cascader" + key].togglePopperVisible();
      }
    },
    // 回显加载n张图片
    loadArrangesImg(imgs: any) {
      if (imgs.length === 0) return [];
      let arr: any = [];
      for (const key in imgs) {
        if (Object.prototype.hasOwnProperty.call(imgs, key)) {
          const img: any = { name: "", url: imgs[key] };
          arr.push(img);
        }
      }
      console.log(arr);
      return arr;
    },
      lazyLoad(node:any,resolve:any){
        const { level } = node;
        setTimeout(() => {
          let token = (this as any).$store.state.token;
          (this as any).axios.post('manager/org/list',{id:node.value||''},{headers: {token: token}}).then((e: any) => {
              if(e.status === 200){
                  let d:any = e.data;
                  if(d.success){
                    let arr:any = d.msg.list;
                    const nodes = arr;
                    // console.log(nodes);
                    // 通过调用resolve将子节点数据返回，通知组件数据加载完成
                    resolve(nodes);
                  }else{
                      (this as any).$message.error(e.data.err);
                  }
              }
          }).catch(()=>{})
        }, 50);
      },
    handleBeforeUpload(file: any) {
      const isJPG = file.type === "image/jpeg" || file.type === "image/png";
      const isLt10M = file.size / 1024 / 1024 < 10;
      if (!isJPG) {
        (this as any).$message.error("上传图片只能是 JPG或PNG 格式!");
      }
      if (!isLt10M) {
        (this as any).$message.error("上传图片大小不能超过 10MB!");
      }
      if (isJPG && isLt10M) {
        (this as any).$loading({ title: "上传中..." });
      }
      return isJPG && isLt10M;
    },
    fileUpload(files: any) {
      console.log(files);
      let arr = files.name.split(".");
      let suffix = arr[arr.length - 1];
      let isJPG1 = false;
      if (
        suffix == "doc" ||
        suffix == "docx" ||
        suffix == "xlsx" ||
        suffix == "xls" ||
        suffix == "csv"
      ) {
        isJPG1 = true;
      } else {
        isJPG1 = false;
      }
      // const isJPG1 = files.type === 'image/jpeg' || files.type === 'image/png';

      const isLt20M = files.size / 1024 / 1024 < 20;
      if (!isJPG1) {
        (this as any).$message.error("上传文件只能是 word文档或表格!");
      }
      if (!isLt20M) {
        (this as any).$message.error("上传文件大小不能超过 20MB!");
      }
      if (isJPG1 && isLt20M) {
        // (this as any).$loading({title: '上传中...'});
      }
      let name = true;
      if (isJPG1 && isLt20M) {
        // 判断文件是不是重复
        if ((this as any).fileReadnameArr.indexOf(files.name)) {
          // 不存在
          (this as any).fileReadnameArr.push(files.name);
        } else {
          name = false;
          (this as any).$message.error("文件已存在");
        }
      }
      return isJPG1 && isLt20M && name;
    },
    uploadSuccess(response: any, key: any, i: any) {
      console.log(response);
      console.log((this as any).form[key]);
    },
    fileSuccess(response: any, key: any, i: any) {
      (this as any).form[key] = response.filename;
      console.log(this.filenameArr);
      (this as any).filenameArr.push(response.filename);
      if(this.filenameArr.length >= 9){
        this.upBtnShow = false
      }else{
        this.upBtnShow = true
      }
    },
    // 删除文件
    beforeRemove(file: any, fileList: any) {
      this.upBtnShow = true;
      (this as any).index = (this as any).fileReadnameArr.indexOf(file.name);
      if (this.index > -1) {
        this.filenameArr.splice(this.index, 1);
        this.fileReadnameArr.splice(this.index, 1);
      }
    },
    // 删除行程图片
    delImg(file: any, key: any, i: any) {
      let imgs: any = JSON.parse(JSON.stringify((this as any).fileLists[key]));
      let idx: any = imgs.findIndex((e: any) => {
        return e.url === file.url;
      });
      let arr = (this as any).fileLists[key];
      arr.splice(idx, 1);
      (this as any).fileLists[key] = arr;

      // 此处 子组件直接删除数据 不可取
      (this as any).form[key].splice(idx, 1);
      // 发射给父亲 删除数据吧?
      // this.$emit('delImg',{key:key,imgIdx:idx,i:i});
    },
    // 预览
    imgPreview(file: any) {
      this.$emit("imgPreview", file);
    },
    confirm(v: any) {
      console.log(this.filenameArr.join(","));
      console.log(this.fileReadnameArr.join(","));
      this.form.attachments = this.filenameArr.join(",");
      this.form.readname = this.fileReadnameArr.join(",");
      (this as any).$refs["dataForm"].validate((valid: any) => {
        if (valid) {
          const formData = Object.assign({}, v);
          console.log(this.form);
          this.$emit("confirm", { form: this.form });
        }
      });
    },
    cancel() {
      this.$emit("cancel");
    },
    valChange(e: any) {
      this.memo = e;
      this.$emit("valChange", e);
    },
    setStyle(){
      let cascader_style = document.createElement('style');
      cascader_style.setAttribute('id',`cascader_style`);
      cascader_style.type = 'text/css';
      let a:any = `.el-cascader-panel .el-radio{
        width: 100% !important;
        height: 100% !important;
        z-index: 10 !important;
        position: absolute !important;
        top: 10px !important;
        right: 10px !important;
      }
      .el-cascader-panel .el-radio__input{
        visibility: hidden;
      }
      .el-cascader-node__postfix {
        top: 10px;
      }
      `
      cascader_style.innerHTML += a;
      document.getElementsByTagName('head')[0].appendChild(cascader_style);
    },
  },
});
</script>

<style lang="scss" scoped>
.edit {
  padding: 0 20px;
  box-sizing: border-box;
  * {
    text-align: left !important;
  }
}
.el-checkbox {
  margin-right: 15px !important;
}
/deep/ .el-checkbox__label {
  padding-left: 6px !important;
}
.dialog-footer {
  text-align: right;
}
.el-upload-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.el-upload-list--picture-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/deep/ .el-rate {
  height: 40px;
  line-height: 40px;
}
/deep/ .el-rate__icon {
  font-size: 20px !important;
}
/deep/ .el-rate__decimal {
  font-size: 20px !important;
}

.upload-demo {
  float: left;
  text-align: left;
}
/*去除upload组件过渡效果*/
.no-transition .el-upload-list__item {
  transition: none !important;
}
.el-upload-list__item-actions {
  text-align: center !important;
}
.el-upload--picture-card {
  text-align: center !important;
}
</style>
